{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}reddmeet - the place to meet redditors{% endblock %}

{% block body_classes %}home-anon signup-steps step-1{% endblock %}

{% block head %}
<style>

header {
  height: 0;
  display: none;
}

.home-01 {
  background: rgba(0,82,128,1);  /* #84B4E4; */
  padding: 0;
  margin: 0;
  text-align: center;
  height: 50vh;
  font-size: 1rem;
}

.home-01 p {
  padding: 1em 0;
  margin: 0;
  color: white;
  line-height: 1em;
  text-align: center;
}

.home-01 p:nth-child(1) {
  padding: 2em 0;
}

.home-01 p:nth-child(1) img {
  height: 72px;
}

.home-01 p:nth-child(2) {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
}

.home-01 p:nth-child(3) {
  font-size: 2em;
}

.home-01 p:nth-child(4) {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 2em;
}

.home-01 p a {
  color: inherit;
}

.home-02 {
  background-color: white;
  max-width: 500px;
  min-width: 300px;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  text-align: left;
}

.home-02 .sr-links {
  color: gray;
  text-decoration: none;
  font-size: 0.8em;
  text-align: justify;
  line-height: 1.5em;
}

.home-02 .sr-links a {
  color: inherit;
  text-decoration: inherit;
}
.home-02 .sr-links a:hover {
  text-decoration: underline;
}

.rm-btn {
  background: transparent;
  border: 3px solid white;
  color: white;
  display: inline-block;
  font-size: 1rem;
  line-height: 2em;
  margin: 0;
  padding: 0 2em;
  transition: 0.5s ease-in-out;
}

.rm-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s ease-in-out;
}

.rm-btn.large {
  font-size: 1.75rem;
}

</style>
{% endblock %}

{% block main %}

<div class="home-01">
  <p><img src="/static/logo100.gif" alt=""></p>
  <p>Some time ago, a redditor posted <a href="https://www.reddit.com/r/Lightbulb/comments/3mug22/a_reddit_dating_site_that_matches_you_based_on/">this idea on r/lightbulb</a>:</p>
  <p class="about-about">"A site that matches you with Redditors based on interest in similar subreddits."</p>
  <p>So, here it is: Reddmeet is the place to meet Redditors</p>
  <p><a class="rm-btn large" href="{{auth_url}}">login with reddit</a></p>
</div>

<div class="home-02">
  <p>Sign up with your reddit account, setup your profile, and find other redditors from the subreddits you subscribe to.</p>
  <p>Privacy and anonymity are important on Reddit, and here too. After signup with your reddit account (oAuth), reddmeet will ...</p>
  <ul>
    <li>only fetch your public user data and subreddits. No other data or permissions are required.</li>
    <li>ask for your geolocation and "fuzzy" it <b>in your browser</b>, before upload. So your real location is <b>never</b> sent to reddmeet.</li>
    <li>ask you to add a picture to your profile by linking to your picture on Imgur or some other site. Add a picture where you cover your eyes, if you want to remain anonymous.</li>
  </ul>    
  <p>Post related opinions, ideas, criticism <a href="https://www.reddit.com/r/reddmeet/">on r/reddmeet</a>.</p>
  <p>
    <a href="{% static 'privacy.html' %}">privacy policy</a>
    <span>&nbsp;|&nbsp;</span>
    <a href="{% static 'useragreement.html' %}">user agreement</a>
  </p>
  <hr>
  <p class="sr-links">{% for x in settings.SR_ANON_ACCESS_ALLOWED %}<a href="/r/{{ x }}/">r/{{ x }}</a>&ensp;{% endfor %}</p>
</div>

{% endblock %}
