{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{request.user.username}}{% endblock %}</title>

    <script src="{% static 'base.js' %}"></script>
    <link rel="stylesheet" href="{% static 'base.css' %}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/static/icon-apple.png">
    <link rel="icon" sizes="192x192" href="/static/icon.png">
    <link rel="shortcut icon" href="/static/icon.ico">
    <meta name="msapplication-TileColor" content="#113228">
    <meta name="msapplication-TileImage" content="">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% block head %}{% endblock %}
  </head>
  <body class="{% block body_classes %}{% endblock %}{% if user.is_authenticated %} auth-user{% else %} anon-user{% endif %}">

    <header>
      <div class="site-logo">
        <a class="site-icon" href="/"><img src="/static/logo100.gif" alt=""></a>
        <a class="site-name" href="/">redddate</a>
      </div>
      <div class="site-links">
        {% if user.is_authenticated %}
          <a class="item username" href="{% url 'profile_page' user.username %}"><span class="text">{{user.username}}</span><span class="icon fa fa-user"></span></a><span class="sep"> | </span>
        {% endif %}

        <a class="item matches" href="{% url 'matches_page' %}"><span class="text">matches</span><span class="icon fa fa-bullseye"></span>{% if user.profile.matches_count %}<span class="number">{{user.profile.matches_count}}</span>{% endif %}</a><span class="sep"> | </span>

        <a class="item reddit-mailbox" href="https://www.reddit.com/message/messages/" title="reddit mailbox"><span class="text">reddit mailbox</span><span class="icon fa fa-envelope"></span></a><span class="sep"> | </span>

        <a class="item settings" href="{% url 'me_page' %}"><span class="text">preferences</span><span class="icon fa fa-cog"></span></a><span class="sep"> | </span>

        {% if user.is_authenticated %}
          <nav class="dotmenu">
            <span class="fa fa-ellipsis-h"></span>
            <input type="checkbox">
            <ul class="opts">
              <li>
                <span class="fa fa-sign-out"></span>
                <a class="logout" href="{% url 'logout_page' %}">logout</a>
              </li>
            </ul>
          </nav>
        {% else %}
          <a class="item login" href="/"><span class="text">signup/login</span><span class="icon fa fa-sign-in"></span></a>
        {% endif %}
      </div>
    </header>

    {% if messages %}
    <ul id="site-messages" onclick="this.parentNode.removeChild(this)">
      {% for msg in messages %}
      <li{% if msg.tags %} class="{{msg.tags}}"{% endif %}>{{msg}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <main>
      {% block main %}{% endblock %}
    </main>

    <footer>
      {% if DEBUG %}
        <p>authuser: {{user.id}} -
        refresh_token: {{request.session.refresh_token}} -
        access_token: {{request.session.access_token}} -
        expires: {{request.session.expires}} -
        now {{unixtime}} -
        secs.left: {{timeleft}}</p>
      {% endif %}

      <p>Use of this site constitutes acceptance of our <a href="/static/useragreement.html">User Agreement</a> and <a href="/static/privacy.html">Privacy Policy</a>.</p>
      <p>
        &copy; 2015 redddate.com - discuss on <a href="https://www.reddit.com/r/redddate">r/redddate</a> - view source on <a href="https://github.com/C14L/dtr5">Github</a>
      <p>
    </footer>
  </body>
</html>
{% endspaceless %}
