{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}Delete all your likes and nopes{% endblock %}

{% block body_classes %}as-overlay flag-del-all{% endblock %}

{% block head %}{% endblock %}

{% block main %}

<article>
  <div class="overlay">
    <h1>redddate</h1>
    <form class="mainbtn wide" method="POST" action="{% url 'me_flag_del_page' %}">
      {% csrf_token %}
      <input type="submit" value="delete all my votes">
    </form>
  </div>
  <div class="abouts">
    <p>Removes all upvotes you sent, and un-hides all users, so that you will see all profiles again in your search results.</p>
  </div>
</article>

{% endblock %}
