{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}redddate - the redditor dating site{% endblock %}

{% block body_classes %}home-anon signup-steps step-1{% endblock %}

{% block head %}{% endblock %}

{% block main %}

{% include 'dtr5app/announce_first_week_growth.html' %}

<article>
  <div class="overlay">
    <h1><a href="/">redddate</a></h1>
    <p><a class="mainbtn" href="{{auth_url}}">login with reddit</a></p>
  </div>
  <div class="abouts">

<p>Some time ago, a redditor posted <a href="https://www.reddit.com/r/Lightbulb/comments/3mug22/a_reddit_dating_site_that_matches_you_based_on/">this idea on r/lightbulb</a>:</p>

<p style="font-weight:bold; padding: 0 16px; font-size: 1.25rem; text-align:center; ">"A Reddit dating site that matches you based on interest in similar subreddits."</p>

<p>So, here it is! <a href="{{auth_url}}">Sign up with your reddit account</a>, setup your profile, and find other redditors from the subreddits you subscribe to. Also, post related opinions, ideas, criticism <a href="https://www.reddit.com/r/redddate/">on r/redddate</a>.</p>

<p class="help">Privacy and anonymity are important on Reddit, and here too. After signup with your reddit account (oAuth), redddate will only load your public user account data and subreddit list. No other permissions are required. It will ask for your geolocation and "fuzzy" it in the browser, before sending it to the redddate server. So your precise location is never uploaded. Finally, you can manually add links to your picture, and add some other details.</p>

<p>
  <a href="{% static 'privacy.html' %}">privacy policy</a>
  <span>&nbsp;|&nbsp;</span>
  <a href="{% static 'useragreement.html' %}">user agreement</a>
</p>

  </div>
</article>

{% endblock %}
