{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}Dating for reddit users{% endblock %}

{% block body_classes %}home-anon signup-steps step-1{% endblock %}

{% block head %}{% endblock %}

{% block main %}

<article>
  <div class="overlay">
    <h1>redddate</h1>
    <p><a class="mainbtn" href="{{auth_url}}">Login with Reddit</a></p>
  </div>
  <div class="abouts">

<p>On <a href="https://www.reddit.com/r/Lightbulb/">/r/lightbulb</a>, user <a href="https://www.reddit.com/user/TeaStainsAndTobacco">/u/TeaStainsAndTobacco</a> had <a href="https://www.reddit.com/r/Lightbulb/comments/3mug22/a_reddit_dating_site_that_matches_you_based_on/">a great idea</a>: <strong>"A Reddit dating site that matches you based on interest in similar subreddits."</strong></p>

<p>So, here it is. <a href="{{auth_url}}"><b>Sign up</b></a> and <a href="https://www.reddit.com/r/redddate/">tell me</a> what you think.</p>

<p>Privacy and anonymity are important on Reddit, and here too. After signup with your reddit account (oAuth), the app only fetches your public user account data and subreddit list. Then, you manually add picture, age, gender, and location.</p>

<p>
  <a href="/static/privacy.html">privacy policy</a>
  <span>&nbsp;|&nbsp;</span>
  <a href="/static/useragreement.html">user agreement</a>
</p>

  </div>
</article>

{% endblock %}
