{% extends 'dtr5app/base.html' %}

{% block title %}Likes{% endblock %}

{% block body_classes %}likes{% endblock %}

{% block main %}

<article>
  <div class="card nopadd">
    <h2>upvotes inbox ({{user_list.paginator.count}})</h2>
    <p class="subhead">These are people who'd like to know you! Check out their profile, upvote them, and say hi!</p>
    {% include 'dtr5app/user_list.html' %}
  </div>

  <div class="pagination">
    {% if user_list.has_previous %}
      <a class="prev" href="?page={{user_list.previous_page_number}}"><span class="fa fa-arrow-left"></span></a>
    {% endif %}
    {% if user_list.has_next %}
      <a class="next" href="?page={{user_list.next_page_number}}"><span class="fa fa-arrow-right"></span></a>
    {% endif %}
    <span>
      {{user_list.number}} / {{user_list.paginator.num_pages}}
    </span>
  </div>
</article>

{% endblock %}
