{% extends 'dtr5app/base.html' %}

{% block title %}Matches{% endblock %}

{% block body_classes %}matches{% endblock %}

{% block main %}

<article>
  <div class="card nopadd">
    <h2>{{user_list.paginator.count}} upvote matches</h2>
    <p class="subhead">They upvoted you and you upvoted them: send them a message and say hi!</p>
    {% include 'dtr5app/user_list.html' %}

{% if not user_list %}

<div style="background:#F3F3F3; margin:16px auto; padding: 16px; max-width: 400px;">
  <h3 style="font-size:1.5rem; text-align:center;">
    no upvote matches. yet!
  </h3>
  <p style="font-size:1.25rem; text-align:center;">
    <a href="{% url 'me_search_page' %}">
      <span class="fa fa-arrow-circle-right"></span>&nbsp;
      browse user profiles and upvote those you'd like to know.
    </a>
  </p>
</div>

{% endif %}
  </div>

  <div class="pagination">
    {% if user_list.has_previous %}
      <a class="prev" href="?page={{user_list.previous_page_number}}"><span class="fa fa-arrow-left"></span></a>
    {% endif %}
    {% if user_list.has_next %}
      <a class="next" href="?page={{user_list.next_page_number}}"><span class="fa fa-arrow-right"></span></a>
    {% endif %}
  </div>
</article>

{% endblock %}
