{% extends 'dtr5app/base.html' %}

{% block title %}settings for /u/{{user.username}}{% endblock %}

{% block body_classes %}me{% endblock %}

{% block main %}

<article>

  <div style="font-size:small; margin:20px; color:gray">search settings moved to the <a href="/results/">top of search results</a></div>

  <div class="card nopadd section-profile" id="id_profile">
    <h2>profile settings</h2>
    <form class="item manual" method="POST" action="{% url 'me_manual_page' %}">
      {% csrf_token %}

      <section class="nopadd herefor">
        <p class="key-col">I am here for:</p>
        <p class="val-col">
          {% for x in settings.HEREFOR %}
            <label class="item">
              <input type="radio" name="herefor" value="{{x.0}}"{% if user.profile.herefor == x.0 %} checked{% elif not user.profile.herefor and x.0 == settings.HEREFOR_FRIENDS_OR_DATING %} checked{% endif %}>
              <span class="tx">{{x.1}}</span>
            </label>
          {% endfor %}
        </p>
      </section>

      <section class="nopadd">
        <p class="key-col">my gender:</p>
        <p class="val-col">
          <label class="sex">
            <select name="sex" size="1">
              {% for sex in sex_choices %}
                <option {% if user.profile.sex == sex.0 %}selected{% endif %} value="{{sex.0}}">{{sex.1}}</option>
              {% endfor %}
            </select>
          </label>
        </p>
      </section>

      <section class="nopadd">
        <p class="key-col">my birthday:</p>
        <p class="val-col">
          <label class="dob">
            <input type="date" name="dob" placeholder="YYYY-MM-DD" maxlength="10" value="{{user.profile.dob|date:'c'}}">
          </label>
        </p>
        <span class="help">never publicly shown! only used to show your age and zodiacs.</span>
      </section>

      <section class="nopadd">
        <span class="key-col">looking for:</span>
        <div class="val-col lookingfor-list">
          <ul>
            {% for x in lookingfor_choices %}
              <li>
                <label>
                  <input {% if x.0 in user.profile.lookingfor %}checked{% endif %} type="checkbox" name="lookingfor" value="{{x.0}}"> <span class="tx">{{x.1}}</span>
                </label>
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>

      <section>
        <label class="val-col submit">
          <input type="submit" value="submit">
        </label>
      </section>

    </form>
  </div>

  <div class="card nopadd section-geolocation" id="id_geolocation">
    <h2>update geolocation</h2>
    <form class="item" method="GET" action="{% url 'me_locate_page' %}" onsubmit="geoloc(this);return false;">
      {% csrf_token %}
      <input type="hidden" name="lat" value="">
      <input type="hidden" name="lng" value="">
      <section>
        <p>
          fuzzy my location by&nbsp;
          <select name="fuzzy">
            <option value="2"{% if user.profile.fuzzy == 2 %} selected{% endif %}>2 km / 1.25 miles</option>
            <option value="5"{% if user.profile.fuzzy == 5 %} selected{% endif %}>5 km / 3 miles</option>
            <option value="10"{% if user.profile.fuzzy == 10 %} selected{% endif %}>10 km / 6 miles</option>
            <option value="20"{% if user.profile.fuzzy == 20 %} selected{% endif %}>20 km / 12 miles</option>
            <option value="50"{% if user.profile.fuzzy == 50 %} selected{% endif %}>50 km / 31 miles</option>
            <option value="100"{% if user.profile.fuzzy == 100 %} selected{% endif %}>100 km / 62 miles</option>
          </select>
          <input type="submit" value="auto-locate">
        </p>
        <p>
          or <a href="{% url 'me_locate_page' %}">type in your geolocation manually</a>
        </p>
      </section>
      <section class="nopadd foot">
        <p>
          your location will randomly be fuzzied by the radius you select. fuzzying happens <u>in your browser</u>, so your real location is <u>never</u> uploaded anywhere. your current fuzzied location is: <a href="https://www.google.com/maps/@{{user.profile.lat}},{{user.profile.lng}},11z">lat={{user.profile.lat}} lng={{user.profile.lng}}</a>
        </p>
      </section>
    </form>
  </div>

  <div class="card nopadd section-srlist" id="id_srlist">
    <h2>update subreddits</h2>
    <section>
      <form method="POST" action="{% url 'me_update_page' %}">
        {% csrf_token %}
        <input type="submit" value="update">
      </form>
    </section>
    <section class="nopadd foot">
      <p>
        fetches the list of subreddits you are subscribed to from your reddit profile. last updated {{user.profile.updated}}
      </p>
    </section>
  </div>

  <div class="card nopadd section-pics" id="id_pics">
    <h2>pictures of <a href="{% url 'profile_page' username=user.username %}">{{user.username}}</a></h2>
    <section class="item pics-form">
      <form method="POST" action="{% url 'me_picture_page' %}">
        {% csrf_token %}
        <input type="text" name="pic_url" value="" placeholder="https://imgur.com/??????">
        <input type="submit" value="add picture">
        <span class="help">&nbsp;max. {{USER_MAX_PICS_COUNT}} pics</span>
      </form>
    </section>

    <section class="item pics-preview">
      {% for pic in request.user.profile.pics %}
      <div class="pic">
        <a href="{{pic.src}}"><img src="{{pic.url}}" alt=""></a>
        <form method="POST" action="{% url 'me_pic_del_page' %}">
          {% csrf_token %}
          <input type="hidden" name="pic_url" value="{{pic.url}}">
          <input type="submit" value="delete">
        </form>
      </div>
      {% endfor %}
    </section>

    <section class="nopadd toggle-section">
      <label for="id_hdkhfsk7w87e">
        <h3>set profile background picture</h3>
      </label>
      <input id="id_hdkhfsk7w87e" type="checkbox">
      <div class="opts">
        <section>
          <form method="POST" action="{% url 'me_picture_page' %}">
            {% csrf_token %}
            <input type="text" name="bg_url" value="{{user.profile.background_pic}}" placeholder="https://imgur.com/??????">
            <input type="submit" value="add a background picture">
          </form>
        </section>
      </div>
    </section>
  </div>

  <div class="card section-about" id="id_about">
    <h2>about <a href="{% url 'profile_page' username=user.username %}">{{user.username}}</a></h2>
    <form class="item" method="POST" action="{% url 'me_manual_page' %}">
      {% csrf_token %}
      <textarea name="about" placeholder="write about yourself. or about your favorite subreddits. or about why you like pizza and bacon. or about that bird you saw that just escaped that cat last year.">{{user.profile.about}}</textarea>
      <p><input type="submit" value="submit"></p>
    </form>
  </div>

  <div class="card section-account" id="id_account">
    <h2>account settings</h2>
    <section>
      <form method="POST" action="{% url 'me_manual_page' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="#id_account">
        <label><input{% if user.profile.pref_distance_unit == 'km' %} checked{% endif %} type="radio" name="pref_distance_unit" value="km"> km</label> or
        <label><input{% if user.profile.pref_distance_unit == 'mi' %} checked{% endif %} type="radio" name="pref_distance_unit" value="mi"> miles</label>
        <input type="submit">
      </form>
    </section>
    <ul>
      <li>
        <a href="{% url 'me_flag_del_page' %}">delete all my upvotes and nopes</a>&nbsp;
        <span class="help"></span>
      </li>
      <li>
        <a href="{% url 'me_account_del_page' %}">delete account data</a>&nbsp;
        <span class="help">deletes most account data, all pictures, 'like' votes, profile content, etc.</span>
      </li>
    </ul>
  </div>
</article>

{% endblock %}