{% extends 'dtr5app/base.html' %}

{% block title %}settings for /u/{{user.username}}{% endblock %}

{% block body_classes %}me{% endblock %}

{% block main %}

<article>
  <div class="card section-search" id="id_search">
    <h2>search settings</h2>
    <form class="item" method="POST" action="{% url 'me_search_page' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{% url 'me_page' %}">
      <p>
        <span>find</span>&nbsp;
        <label>
          <select name="f_sex" size="1">
            <option value="">everybody</option>
            {% for sex in sex_choices %}
              {% if sex.0 > 0 %}
                <option{% if user.profile.f_sex == sex.0 %} selected{% endif %} value="{{sex.0}}">{{sex.1}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </label>&nbsp; <!-- {{user.profile.f_distance}} -->
        <label>
          <select name="f_distance" size="1"><!-- in km -->
            <option{% if user.profile.f_distance == 20040 %} selected{% endif %}  value="20040">worldwide</option>
            <option{% if user.profile.f_distance == 300 %} selected{% endif %}  value="3000">flyable</option>
            <option{% if user.profile.f_distance == 300 %} selected{% endif %}  value="300">driveable</option>
            <option{% if user.profile.f_distance == 50 %} selected{% endif %}  value="100">not too far</option>
            <option{% if user.profile.f_distance == 15 %} selected{% endif %} value="25">close by</option>
          </select>
        </label>&nbsp;
        <label class="submit">
          <input type="submit" value="search">
          <span class="help">
            find people subscribed to the same subreddits as you.
          </span>
        </label>
      </p>

      <section class="toggle-section">
        <label for="id_984hfhe"><h3>more settings</h3></label>
        <input id="id_984hfhe" type="checkbox">
        <div class="opts">
          <p>
            <label>
              <span><b>ignore</b> these subreddits:</span>
              <input type="text" name="f_ignore_sr_li" value="{{user.profile.f_ignore_sr_li|join:', '}}" maxlength="250" size="50" placeholder="AskReddit, news, Pics, Funny">
            </label>
            <p class="help">these subreddits will be treated as if you were <b>not</b> subscribed to them.</p>
          </p>

          <p>
            <label>
              <span><b>ignore</b> all subreddits larger than:</span>
              <input type="text" name="f_ignore_sr_max" value="{{user.profile.f_ignore_sr_max}}" maxlength="10" size="10" placeholder="5,000,000">
              <span>subscribers</span>
            </label>
            <p class="help">all subreddits larger than this will be treated as if you were <b>not</b> subscribed to them.</p>
          </p>
<!--
          <p>
            <label>
              <span><b>exclude</b> everybody subscribed to any of these subreddits:</span>
              <input type="text" name="f_exclude_sr_li" value="{{user.profile.f_exclude_sr_li|join:', '}}" maxlength="250" size="50" placeholder="shitredditsays, dragonsfuckingcars, sexyabortions, coontown">
            </label>
            <p class="help"><strong>use carefully!</strong> anybody subscribed to any of these subreddits will be <strong>removed</strong> from your search results!</p>
          </p>
-->
        </div>
      </section>
    </form>
  </div>

  <div class="card section-profile" id="id_profile">
    <h2>your profile settings</h2>
    <form class="item manual" method="POST" action="{% url 'me_manual_page' %}">
      {% csrf_token %}
      <p>
        <span class="key-col">my gender:</span>
        <span class="val-col">
          <label class="sex">
            <select name="sex" size="1">
              {% for sex in sex_choices %}
                <option {% if user.profile.sex == sex.0 %}selected{% endif %} value="{{sex.0}}">{{sex.1}}</option>
              {% endfor %}
            </select>
          </label>
        </span>
      </p>
      <p>
        <span class="key-col">my birthday:</span>
        <span class="val-col">
          <label class="dob">
            <input type="date" name="dob" placeholder="YYYY-MM-DD" maxlength="10" value="{{user.profile.dob|date:'c'}}">
          </label>
          &nbsp;
          <span class="help">
            never publicly shown! only used to show your age and zodiacs.
          </span>
        </span>
      </p>
      <p>
        <span class="key-col">looking for:</span>
        <span class="val-col">
          <span class="lookingfor-list">
            {% for x in lookingfor_choices %}
              <span>
                <label>
                  <input {% if x.0 in user.profile.lookingfor %}checked{% endif %} type="checkbox" name="lookingfor" value="{{x.0}}"> {{x.1}}
                </label>
              </span>
            {% endfor %}
          </span>
        </span>
      </p>
      <p>
        <label class="val-col submit">
          <input type="submit" value="submit">
        </label>
      </p>
    </form>
  </div>

  <div class="card section-geolocation" id="id_geolocation">
    <h2>update geolocation</h2>
    <form class="item" method="GET" action="{% url 'me_locate_page' %}" onsubmit="geoloc(this);return false;">
      {% csrf_token %}
      <input type="hidden" name="lat" value="">
      <input type="hidden" name="lng" value="">
      <input type="submit" value="locate">
    </form>
    <p class="help">
      your geolocation will randomly be fuzzied up to a 2 km / 1.25 miles radius. that happens right in your browser, so you exact location is never uploaded anywhere. current location: <a href="https://www.google.com/maps/@{{user.profile.lat}},{{user.profile.lng}},11z">lat={{user.profile.lat}} lng={{user.profile.lng}}</a>
    </p>
  </div>

  <div class="card section-srlist" id="id_srlist">
    <h2>update subreddits</h2>
    <form method="POST" action="{% url 'me_update_page' %}">
      {% csrf_token %}
      <input type="submit" value="update">
    </form>
    <p class="help">
      fetches the list of subreddits you are subscribed to from your reddit profile. last updated {{user.profile.updated}}
    </p>
  </div>

  <div class="card section-pics" id="id_pics">
    <h2>pictures of <a href="{% url 'profile_page' username=user.username %}">{{user.username}}</a></h2>
    <div class="item pics-form">
      <form method="POST" action="{% url 'me_picture_page' %}">
        {% csrf_token %}
        <input type="text" name="pic_url" value="" placeholder="https://imgur.com/??????">
        <input type="submit" value="add picture">
        <span class="help">&nbsp;max. {{USER_MAX_PICS_COUNT}} pics</span>
      </form>
    </div>
    <div class="item pics-preview">
      {% for pic in request.user.profile.pics %}
      <div class="pic">
        <a href="{{pic.src}}"><img src="{{pic.url}}" alt=""></a>
        <form method="POST" action="{% url 'me_pic_del_page' %}">
          {% csrf_token %}
          <input type="hidden" name="pic_url" value="{{pic.url}}">
          <input type="submit" value="delete">
        </form>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="card section-about" id="id_about">
    <h2>about <a href="{% url 'profile_page' username=user.username %}">{{user.username}}</a></h2>
    <form class="item" method="POST" action="{% url 'me_manual_page' %}">
      {% csrf_token %}
      <textarea name="about" placeholder="write about yourself. or about your favorite subreddits. or about why you like pizza and bacon. or about that bird you saw that just escaped that cat last year.">{{user.profile.about}}</textarea>
      <p><input type="submit" value="submit"></p>
    </form>
  </div>

  <div class="card section-account" id="id_account">
    <h2>account settings</h2>
    <ul>
      <li>
        <a href="{% url 'me_flag_del_page' %}">delete all my upvotes and nopes</a>&nbsp;
        <span class="help"></span>
      </li>
      <li>
        <a href="{% url 'me_account_del_page' %}">delete account data</a>&nbsp;
        <span class="help">deletes most account data, all pictures, 'like' votes, profile content, etc.</span>
      </li>
    </ul>
  </div>
</article>
{% endblock %}