{% extends 'dtr5app/base.html' %}

{% block title %}{{view_user.username}} - {{view_user.profile.get_age}} / {{view_user.profile.get_sex_display}} / {{view_user.profile.distance}} km{% endblock %}

{% block body_classes %}profile{% if is_match %} is-match{% endif %}{% endblock %}

{% block main %}

<aside id="sidebar">

  <div class="prevnext-user-list">
    <ul>
      {% for v in user_list %}
        <li class="{% if v.username == view_user.username %}curr{% else %}not-curr{% endif %}"><a href="{% url 'profile_page' v.username %}"><img src="{{v.profile.pics.0.url}}" alt="{{v.username}}"></a></li>
      {% endfor %}
    </ul>
  </div>

  {% if view_user.username == user.username %}
    {# pass #}
  {% else %}
    <div class="sr-list-inline subreddit-matches">
      {% if view_user.profile.common_subs|length == 0 %}
        <h2>No subreddit matches :(</h2>
      {% else %}
        <h2>{{view_user.profile.common_subs|length}} subreddit matches :)</h2>
        <ul class="sr-list">
          {% for row in view_user.profile.common_subs %}
            <li>
              <a href="{% url 'sr_page' row.sr.display_name %}">/r/{{row.sr.display_name}}</a>
              <span class="status">
                {% if row.sr.over_18 %}
                <span class="nsfw-tag">NSFW</span>
                {% endif %}
                {% if row.user_is_moderator %}
                <span class="mod-tag">moderator</span>
                {% endif %}
                {% if row.user_is_banned %}
                <span class="banned-tag">banned</span>
                {% endif %}
                {% if row.user_is_muted %}
                <span class="muted-tag">muted</span>
                {% endif %}
              </span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}

  <div class="sr-list-inline fav-subreddit-list">
    <h2>{{view_user.username}}'s favorite subreddits</h2>
    <ul class="sr-list">
      {% for row in view_user.subs.all %}
        {% if row.is_favorite %}
          <li>
            <a href="{% url 'sr_page' row.sr.display_name %}">/r/{{row.sr.display_name}}</a>
            <span class="status">
              {% if row.sr.over_18 %}
              <span class="nsfw-tag">NSFW</span>
              {% endif %}
              {% if row.user_is_moderator %}
              <span class="mod-tag">moderator</span>
              {% endif %}
              {% if row.user_is_banned %}
              <span class="banned-tag">banned</span>
              {% endif %}
              {% if row.user_is_muted %}
              <span class="muted-tag">muted</span>
              {% endif %}
            </span>
          </li>
        {% endif %}
      {% empty %}
        <p>No favorite subreddits.</p>
      {% endfor %}
    </ul>
  </div>
</aside>

<article>

  {% if view_user.username != user.username %}
    <div class="match-box">
      {% if is_match %}

        <div class="announce">
          <span>You like each other!</span>
        </div>
        <div class="uu">
          <div class="u1">
            <img src="{{user.profile.pics.0.url}}" alt="{{user.username}}">
            <span class="username">{{user.username}}</span>
          </div>
          <div class="u2">
            <img src="{{view_user.profile.pics.0.url}}" alt="{{view_user.username}}">
            <span class="username">{{view_user.username}}</span>
          </div>
        </div>
        <div class="action">
          <a class="send-a-msg-btn mainbtn" href="https://www.reddit.com/message/compose/?to={{view_user.username}}">Send a message</a>
          <a class="later" href="{% url 'me_search_page' %}">Not now</a>
        </div>
        <div class="like-nope-duno small">
          <form method="POST" action="{% url 'me_flag_page' 'set' 'nope' view_user.username %}">
            {% csrf_token %}
            <input type="submit" class="nope opt" value="❌" title="nope!">
          </form>
        </div>

      {% else %}

        <div class="like-nope-duno">
          <form class="like-form" method="POST" action="{% url 'me_flag_page' 'set' 'like' view_user.username %}">
            {% csrf_token %}
            <input type="submit" class="like opt" value="♥" title="like!">
          </form>
          {% if next_user.username %}
            <a href="{% url 'profile_page' next_user.username %}" class="duno opt" title="dunno...">?</a>
          {% endif %}
          <form class="nope-form" method="POST" action="{% url 'me_flag_page' 'set' 'nope' view_user.username %}">
            {% csrf_token %}
            <input type="submit" class="nope opt" value="❌" title="nope!">
          </form>
        </div>

      {% endif %}
    </div>
  {% endif %}

  <div class="user-profile">
    <div class="header">
      <p class="zodiacs">
        <span class="western" title="occidental zodiac: {{view_user.profile.get_western_zodiac_display}}">{{view_user.profile.get_western_zodiac_symbol}}</span>
        <span class="eastern" title="oriental zodiac: {{view_user.profile.get_eastern_zodiac_display}}">{{view_user.profile.get_eastern_zodiac_symbol}}</span>
      </p>
      <h1>{{view_user.username}}</h1>
      <p class="asl">
        a <span>{{view_user.profile.get_age}}</span> years old
        <span title="{{view_user.profile.get_sex_symbol}}">{{view_user.profile.get_sex_display}}</span> -
        <span><a href="https://www.google.com/maps/@{{view_user.profile.lat}},{{view_user.profile.lng}},11z" title="Does NOT show the exact position. The location is intentionally fuzzied by a few km/miles.">{{view_user.profile.get_distance_in_km|floatformat:"1"}} km away</a></span>
      </p>
    </div>
    <ul class="pics">
      {% for pic in view_user.pics_list %}
      <li>
        {% if pic.url %}
        <a href="{{pic.src}}" class="pic"><img src="{{pic.url}}" alt="{{view_user.username}}"></a>
        {% else %}
        <span class="no-pic"></span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% if view_user.profile.about %}
      <div class="about">
        <p>{{view_user.profile.about}}</p>
      </div>
    {% endif %}
    <div class="account-age">
      a redditor for {{view_user.profile.created|timesince}} and signed up here {{view_user.date_joined|timesince}} ago.
    </div>
  </div>

  <div class="user-profile">
    <div class="info-tables">
      <div class="info">
        <table>
          <thead>
            <tr>
              <td colspan="2">
                More about <a href="{% url 'profile_page' view_user.username %}">{{view_user.username}}</a>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Age:</td>
              <td>{{view_user.profile.get_age}}</td>
            </tr>
            <tr>
              <td>Gender:</td>
              <td>{{view_user.profile.get_sex_display}}</td>
            </tr>
            <tr>
              <td>Distance:</td>
              <td>{{view_user.profile.get_distance_in_km|floatformat:"1"}} km from you</td>
            </tr>
            <!-- <tr>
              <td></td>
              <td></td>
            </tr> -->
            <tr>
              <td>Western zodiac:</td>
              <td>
                <span class="zodiac western-zodiac" title="Western Zodiac: {{view_user.profile.get_western_zodiac_display}}">{{view_user.profile.get_western_zodiac_symbol}}</span>
                {{view_user.profile.get_western_zodiac_display}}
              </td>
            </tr>
            <tr>
              <td>Eastern zodiac:</td>
              <td>
                <span class="zodiac eastern-zodiac" title="Eastern Zodiac: {{view_user.profile.get_eastern_zodiac_display}}">{{view_user.profile.get_eastern_zodiac_symbol}}</span>
                {{view_user.profile.get_eastern_zodiac_display}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="info">
        <table>
          <thead>
            <tr>
              <td colspan="2">
                <a href="https://www.reddit.com/user/{{view_user.username}}/">{{view_user.username}}</a> on Reddit
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Link Karma:</td>
              <td>{{view_user.profile.link_karma}}</td>
            </tr>
            <tr>
              <td>Comment Karma:</td>
              <td>{{view_user.profile.comment_karma}}</td>
            </tr>
            <tr>
              <td>Watches NSFW content:</td>
              <td>{{view_user.profile.over_18|yesno:"yes,no,?"}}</td>
            </tr>
            <tr>
              <td>Has a verified Email:</td>
              <td>{{view_user.profile.has_verified_email|yesno:"yes,no,?"}}</td>
            </tr>
            <tr>
              <td>Has Reddit Gold:</td>
              <td>{{view_user.profile.gold_creddits|yesno:"yes,no,?"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
<!--
      <div class="info">
        <table>
          <thead>
            <tr>
              <td colspan="2">
                <a href="https://www.reddit.com/user/{{view_user.username}}/">{{view_user.username}}</a> on Redddate
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Last login:</td>
              <td></td>
            </tr>
            <tr>
              <td>Liked by:</td>
              <td>XY people</td>
            </tr>
            <tr>
              <td>Likes:</td>
              <td>XY people</td>
            </tr>
          </tbody>
        </table>
      </div>
-->
    </div>
  </div>
  <div>
    <p class="help">All distances are approximate, because only fuzzied location data is stored to protect privacy.</p>
  </div>
</article>

{% endblock %}
