{% extends 'dtr5app/base.html' %}

{% block title %}{{view_user.username}} - {{view_user.profile.get_age}} / {{view_user.profile.get_sex_display}} / {{view_user.profile.distance}} km{% endblock %}

{% block body_classes %}profile{% endblock %}

{% block main %}

<ul class="user-list">
  {% for v in user_list %}
  <li class="{% if v.username == view_user.username %}curr{% endif %}">
    <span class="info">{{v.username}} ({{v.profile.get_age}} / {{v.profile.get_sex_display}} / {{v.profile.get_distance_in_km}} km away)</span>
    {% if v.pics.all.0.url %}
    <a href="{% url 'profile_page' v.username %}" class="pic"><img src="{{v.pics.all.0.url}}" alt="{{v.username}}"></a>
    {% else %}
    <a href="#" class="nopic">{{v.username}}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<aside id="sidebar">

  <h2>Your subreddit matches</h2>
  <p>Subreddits subbed by both you and {{view_user.username}}.</p>
  <ul>
    ...
  </ul>

  <h2>{{view_user.username}}'s favorite subreddits</h2>
  <p></p>
  <ul>
    ...
  </ul>
</aside>

<article>

  <div class="user-profile">
    <div class="header">
      <h1>{{view_user.username}}</h1>
      <p class="asl">
        {{view_user.profile.get_age}} {{view_user.profile.get_sex_symbol}} {{view_user.profile.get_distance_in_km}} km away
      </p>
      <p class="account">
        A redditor for {{view_user.profile.created|timesince}} and signed up here {{view_user.date_joined|timesince}} ago.
      </p>
    </div>

    <div class="pic-about"><a class="pic" href="{{view_user.pics.all.0.src}}"><img src="{{view_user.pics.all.0.url}}" alt="{{view_user.username}}"></a><span class="about">{{view_user.profile.about}}</span></div>
    <div class="info">
      <table>
        <thead>
          <tr>
            <td colspan="2">
              <a href="https://www.reddit.com/user/{{view_user.username}}/">{{view_user.username}} on Reddit</a>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Link Karma:</td>
            <td>{{view_user.profile.link_karma}}</td>
          </tr>
          <tr>
            <td>Comment Karma:</td>
            <td>{{view_user.profile.comment_karma}}</td>
          </tr>
          <tr>
            <td>Watches NSFW content:</td>
            <td>{{view_user.profile.over_18}}</td>
          </tr>
          <tr>
            <td>Has a verified Email on Reddit:</td>
            <td>{{view_user.profile.has_verified_email}}</td>
          </tr>
          <tr>
            <td>Has Reddit Gold:</td>
            <td>{{view_user.profile.is_gold}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <ul class="pics">
      {% for pic in view_user.pics.all %}
      <li>
        <a href="{{pic.src}}">
          <img src="{{pic.url}}" alt="view_user.username">
        </a>
      </li>
      {% endfor %}
    </ul>
    <hr>
  </div>

</article>

{% endblock %}
