{% load static %}

<div class="site-announcements" style="background: #58D464; height: 96px; margin:0; padding:0; color: white; text-shadow: 1px 1px 1px black; overflow:hidden; ">
  <div style="max-width: 960px; min-width: 300px; margin: 0 auto; padding: 0; position: relative;">

    <img style="height:88px; position:absolute; top:0; right:0; padding: 8px 0 0 0;" src="{% static 'simple1.gif' %}" alt="">

    <div style="position:absolute; top:0; left:0; font:normal bold 48px/96px 'Roboto';">
      welcome!
    </div>

    <div style="font:normal 16px/20px 'Roboto'; position:absolute; top:16px; right:100px; left: 250px; margin:0; padding:8px 16px; background:rgba(255,255,255,0.52); color:rgba(0,0,0,0.9); text-shadow:none; overflow:hidden; border-radius:4px; text-align:left; box-shadow:1px 1px 2px rgba(0,0,0,0.24);">

      redddate is online since 2015-11-26 and just getting started: sign up, try it out, and tell us what you think on <a href="https://www.reddit.com/r/redddate/">/r/redddate</a>

    </div>
  </div>
</div>