{% extends 'dtr5app/base.html' %}

{% block title %}/r/{{view_sr.display_name}}{% endblock %}

{% block body_classes %}sr has-sidebar{% endblock %}

{% block main %}

<aside id="sidebar">
  <section class="card">
    <h2>r/{{view_sr.display_name}}</h2>
    <p>there are {{view_sr.subscribers_here}} out of the {{view_sr.subscribers}} subscribers of <a class="reddit-link" href="https://www.reddit.com/r/{{view_sr.display_name}}"><span class="fa fa-reddit"></span><span>/r/{{view_sr.display_name}}</span></a> here</p>
    <p>viewing {{user_count}} people from r/{{view_sr.display_name}} that match <a href="{% url 'me_page' %}">your search options</a></p>
  </section>
</aside>

<article>
  {% if user_list %}
    <ul class="user-list">
      {% for v in user_list %}
        <li>
          <a href="{% url 'profile_page' v.username %}" class="pic">
            <img src="{{v.profile.pics.0.url}}" alt="{{v.username}}">
          </a>
          <span class="info">
            <a class="username" href="{% url 'profile_page' v.username %}">{{v.username}}</a>
            <span class="asl">
              {{v.profile.get_age}}
              {{v.profile.get_sex_symbol}}
              {{v.profile.get_distance_in_km|floatformat:"1"}} km away
            </span>
          </span>
        </li>
      {% endfor %}
    </ul>

    <div class="pagination">
      {% if user_list.has_previous %}
        <a class="prev" href="?page={{user_list.previous_page_number}}"><span class="fa fa-arrow-left"></span></a>
      {% endif %}
      {% if user_list.has_next %}
        <a class="next" href="?page={{user_list.next_page_number}}"><span class="fa fa-arrow-right"></span></a>
      {% endif %}
    </div>

  {% endif %}
</article>

{% endblock %}
