{% extends 'dtr5app/base.html' %}

{% block title %}/r/{{view_sr.display_name}}{% endblock %}

{% block body_classes %}sr{% endblock %}

{% block main %}

<section class="subheader">
  <span class="reddit-link"><a href="https://www.reddit.com/r/{{view_sr.display_name}}" class="fa fa-reddit"></a><a href="/r/{{view_sr.display_name}}">/r/{{view_sr.display_name}}</a></span>

  <span class="info">{{view_sr.subscribers}} on reddit, and {{view_sr.subscribers_here}} subscribers here - your <a href="{% url 'me_page' %}">search options</a> found {{user_list.paginator.count}} redditors</span>
</section>

{% if user_list %}
  <article>
    <ul class="user-list">
      {% for v in user_list %}
        <li>
          <a href="{% url 'profile_page' v.username %}" class="pic">
            {% if v.profile.pics.0 %}
              <img src="{{v.profile.pics.0.url}}" alt="{{v.username}}">
            {% else %}
              <img src="/static/nopic.jpg" alt="{{v.username}}">
            {% endif %}
          </a>

          <span class="info">
            <a class="username" href="{% url 'profile_page' v.username %}">{{v.username}}</a>
            <span class="asl">
              {{v.profile.get_age}}
              {{v.profile.get_sex_symbol}}
              {{v.profile.get_distance_in_km|floatformat:"1"}} km away
            </span>
          </span>

<!--

not here, because they are not removed after being voted on!
this is a list of /all/ users of this sub, even those that the
authuser upvoted or ignors.

          <div class="like-nope-btns">
            <form class="opt nope" method="POST" action="{% url 'me_flag_page' 'set' 'nope' v.username %}" title="nope">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ABSOLUTE_URI}}">
              <input type="submit" value="">
            </form>
            <form class="opt like" method="POST" action="{% url 'me_flag_page' 'set' 'like' v.username %}" title="upvote">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ABSOLUTE_URI}}">
              <input type="submit" value="">
            </form>
          </div>
-->

        </li>
      {% endfor %}
    </ul>

    <div class="pagination">
      {% if user_list.has_previous %}
        <a class="prev" href="?page={{user_list.previous_page_number}}"><span class="fa fa-arrow-left"></span></a>
      {% endif %}
      {% if user_list.has_next %}
        <a class="next" href="?page={{user_list.next_page_number}}"><span class="fa fa-arrow-right"></span></a>
      {% endif %}
      <span>
        {{user_list.number}} / {{user_list.paginator.num_pages}}
      </span>
    </div>
  </article>
{% else %}
  <div style="text-align:center; margin-top: 100px;">there is nobody</div>
{% endif %}

{% endblock %}
