{% extends 'dtr5app/base.html' %}
{% load static %}
{% load dtr5tags %}

{% block title %}stats{% endblock %}

{% block head %}
<style type="text/css">
.title { }
.title h1 { display: inline-block; line-height: 1.5rem; vertical-align: middle; }
.title p { display: inline-block; line-height: 1.5rem; vertical-align: middle; margin-left: 1.5rem;}
.title p span.dt { color: gray; }
.title p span.dd { }

table { border: 3px solid gray; display: inline-block; vertical-align: top; margin: 0 16px 16px 0; }
table tr {}
table tr th { padding: 8px; background-color: gray; color: white; font-weight: normal; }
table tr td { padding: 8px; border: 1px solid gray; border-collapse: collapse; background-color: white; }
table tr td.num { text-align: right; }

</style>
{% endblock %}

{% block body_classes %}stats{% endblock %}

{% block main %}

<article>
  <div class="title">
    <h1>Stats</h1>
    <p>
      <span class="dt">past minute</span>&nbsp;
      <span class="dd">{{users_active_1m}}</span>&nbsp;&middot;&nbsp;
      <span class="dt">past 5 minutes</span>&nbsp;
      <span class="dd">{{users_active_5m}}</span>&nbsp;&middot;&nbsp;
      <span class="dt">past 15 minutes</span>&nbsp;
      <span class="dd">{{users_active_15m}}</span>&nbsp;
      <span class="dt">active users</span>
    </p>
  </div>

  <table>
    <tr><th colspan="2">users by sex/pref</th></tr>
    {% for x in users_by_sex %}
      <tr><td>{{x.sex|display_choice:SEX}}</td><td class="num">{{x.count}}</td>
    {% endfor %}
  </table>

  <table>
    <tr><th colspan="2">likes/nopes/matches</th></tr>
    <tr><td>likes</td><td class="num">{{likes_count}}</td>
    <tr><td>nopes</td><td class="num">{{nopes_count}}</td>
    <tr><td>matches</td><td class="num">{{matches_count}}</td>
  </table>

</article>

{% endblock %}
