{% extends 'dtr5app/base.html' %}
{% load static %}
{% load dtr5tags %}

{% block title %}stats{% endblock %}

{% block head %}
<style type="text/css">
.title { }
.title h1 { display: inline-block; line-height: 1.5rem; vertical-align: middle; }

.usestats { display: inline-block; line-height: 1.5rem; vertical-align: middle; margin: 0; padding: 0 0 0 8px; }
.usestats dl { display: inline-block; margin: 2px; padding: 0; background-color: yellow; }
.usestats dl dt { display: inline-block; margin: 0; padding: 4px 8px; color: gray; background-color: rgba(255,255,255,0.8); }
.usestats dl dd { display: inline-block; margin: 0; padding: 4px 8px; color: black; background-color: rgba(255,255,255,0.5); }

table { border: 3px solid gray; display: inline-block; vertical-align: top; margin: 0 16px 16px 0; }
table tr {}
table tr th { padding: 8px; background-color: gray; color: white; font-weight: normal; }
table tr td { padding: 8px; border: 1px solid gray; border-collapse: collapse; background-color: white; }
table tr td.num { text-align: right; }

</style>
{% endblock %}

{% block body_classes %}stats{% endblock %}

{% block main %}

<article>
  <div class="title">
    <h1>Stats</h1>
  </div>

  <table>
    <tr><th colspan="2">active users</th></tr>
    <tr><td>past minute</td><td>{{users_active_1m}}</td></tr>
    <tr><td>past 5 mins</td><td>{{users_active_5m}}</td></tr>
    <tr><td>past 15 mins</td><td>{{users_active_15m}}</td></tr>
    <tr><td>past hour</td><td>{{users_active_1h}}</td></tr>
    <tr><td>past day</td><td>{{users_active_24h}}</td></tr>
    <tr><td>past week</td><td>{{users_active_7d}}</td></tr>
    <tr><td>past month</td><td>{{users_active_30d}}</td></tr>
    <tr><td>past quarter</td><td>{{users_active_90d}}</td></tr>
    <tr><td>past year</td><td>{{users_active_1y}}</td></tr>
  </table>

  <table>
    <tr><th colspan="2">sign-ups per day</th></tr>
    {% for d in signups_per_day %}
      <tr><td>{{d.day}}</td><td>{{d.id__count}}</td></tr>
    {% endfor %}
  </table>

  <table>
    <tr><th colspan="2">users by sex/pref</th></tr>
    {% for x in users_by_sex %}
      <tr><td>{{x.sex|display_choice:SEX}}</td><td class="num">{{x.count}}</td>
    {% endfor %}
  </table>

  <table>
    <tr><th colspan="2">likes/nopes/matches</th></tr>
    <tr><td>likes</td><td class="num">{{likes_count}}</td>
    <tr><td>nopes</td><td class="num">{{nopes_count}}</td>
    <tr><td>matches</td><td class="num">{{matches_count}}</td>
  </table>

</article>

{% endblock %}
