{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}update subreddits{% endblock %}

{% block body_classes %}signup-steps step-2 step-update-subs{% endblock %}

{% block head %}{% endblock %}

{% block main %}

{% include 'dtr5app/step_progress.html' %}

<article>
  <div class="overlay">
    <h1>update subreddits</h1>
    <form method="POST" action="{% url 'me_update_page' %}">
      {% csrf_token %}
      <span class="mainbtn"><input type="submit" value="update subreddits"></span>
    </form>
  </div>
  <div class="abouts">
    <p>fetches your reddit username and signup date, and the list of subreddits your are subscribed to.</p>
    <p></p>
  </div>
</article>

{% endblock %}
