{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}all done, welcome to redddate!{% endblock %}

{% block body_classes %}signup-steps step-7 step-all-done{% endblock %}

{% block head %}{% endblock %}

{% block main %}

{% include 'dtr5app/step_progress.html' %}

<article>
  <div class="overlay">
    <h1>all done</h1>
    <p><a class="mainbtn" href="{% url 'me_results_page' %}">see matches</a></p>
  </div>
  <div class="abouts">
    <p>Flip through matching profiles and upvote those you like. If they upvote you back, you will appear in each other's "matches".</p>
    <p>On <a href="/me/">your preferences page</a> you can change search options, add stuff to your profile, link pictures of you, etc.</p>
  </div>
</article>
<script>
  ga('send', 'event', 'signup', 'step7-view');
</script>

{% endblock %}
