{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}Oh, noes!{% endblock %}

{% block body_classes %}ohnoes account-age{% endblock %}

{% block head %}{% endblock %}

{% block main %}

<article>
  <div class="overlay">
    <h1>oh, noes!</h1>
  </div>
  <div class="abouts">
    <p>to be able to use redddate, your <em>reddit account</em> has to be at least {{USER_MIN_DAYS_REDDIT_ACCOUNT_AGE}} days old -- but your account is only {{user.profile.created|timesince}} old.</p>
    <p><u>what to do now?</u> you will need to wait. meanwhile, participate on reddit, find subreddits you like and subscribe, post great content and build your reddit profile. then come back here and find people from your favourite subreddits.</p>
    <p><a href="http://www.reddit.com/">back to reddit.com</a></p>
  </div>
</article>

{% endblock %}
