{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}update geolocation{% endblock %}

{% block body_classes %}signup-steps step-3 step-update-geoloc{% endblock %}

{% block head %}{% endblock %}

{% block main %}

{% include 'dtr5app/step_progress.html' %}

<article>
  <div class="overlay">
    <h1>update geolocation</h1>
    <form method="GET" action="{% url 'me_locate_page' %}" onsubmit="geoloc(this);return false;">
      {% csrf_token %}
      <input type="hidden" name="lat" value="">
      <input type="hidden" name="lng" value="">
      <span class="mainbtn"><input type="submit" value="locate"></span>
    </form>
  </div>
  <div class="abouts">
    <p><strong>your browser will ask you for permission</strong> to get your latitude/longitude values.</p>
    <p>your location is then automatically fuzzied by a 2 km / 1.2 miles radius, so that your precise location will never be revealed. have a look at the source code to see how its done. <u>your exact location will <em>NOT</em> be transmitted at any time.</u></p>
    <p>if you prefer, you can also <a href="{% url 'me_locate_page' %}">type in your geolocation manually</a>.</p>
    <noscript><p><strong>it looks like you have Javascript disabled, so you will need to enter your geolocation manually.</strong></p></noscript>
  </div>
</article>

{% endblock %}
