{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}update geolocation{% endblock %}

{% block body_classes %}signup-steps step-3 step-update-geoloc{% endblock %}

{% block head %}{% endblock %}

{% block main %}

{% include 'dtr5app/step_progress.html' %}

<article>
  <div class="overlay">
    <h1>update geolocation</h1>
    <form method="GET" action="{% url 'me_locate_page' %}" onsubmit="geoloc(this);return false;">
      {% csrf_token %}
      <input type="hidden" name="lat" value="">
      <input type="hidden" name="lng" value="">
      <div style="padding:8px 0;">
        fuzzy my location by&nbsp;
        <select name="fuzzy">
          <option value="5"{% if user.profile.fuzzy == 5 %} selected{% endif %}>5 km / 3 miles</option>
          <option value="10"{% if user.profile.fuzzy == 10 %} selected{% endif %}>10 km / 6 miles</option>
          <option value="20"{% if user.profile.fuzzy == 20 %} selected{% endif %}>20 km / 12 miles</option>
          <option value="50"{% if user.profile.fuzzy == 50 %} selected{% endif %}>50 km / 31 miles</option>
          <option value="100"{% if user.profile.fuzzy == 100 %} selected{% endif %}>100 km / 62 miles</option>
        </select>
      </div>
      <span class="mainbtn"><input type="submit" value="locate"></span>
    </form>
  </div>
  <div class="abouts">
    <p>set a radius to <strong>fuzzy you real location</strong>. your true location <strong>will never be known</strong> and will <u>not</u> be uploaded.</u></p>
    <p>if you prefer, you can also <a href="{% url 'me_locate_page' %}">type in your location manually</a>.</p>
    <p>when you click "locate", your browser will ask you for permission to get your latitude/longitude values.</p>
    <noscript><p><strong>it looks like you have Javascript disabled, so you will need to enter your location manually.</strong></p></noscript>
  </div>
</article>
<script>
  ga('send', 'event', 'signup', 'step3-view');
</script>


{% endblock %}
