{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}Oh, noes!{% endblock %}

{% block body_classes %}ohnoes min-karma{% endblock %}

{% block head %}{% endblock %}

{% block main %}

<article>
  <div class="overlay">
    <h1>oh, noes!</h1>
  </div>
  <div class="abouts">
    <p>to be able to use redddate, you need to have some karma on <a href="https://www.reddit.com/">reddit.com</a>. either {{USER_MIN_LINK_KARMA}} link karma or {{USER_MIN_COMMENT_KARMA}} comment karma is fine.</p>
    <p>currently, your reddit account has {{user.profile.link_karma}} link and {{user.profile.comment_karma}} comment karma, so you will not be able to sign up just now.</p>
    <p><u>what to do now?</u> build up some karma on <a href="https://www.reddit.com/">reddit.com</a> by participating, finding subreddits you like and posting great content there, either links or comments. when others upvote your contributions, you will earn karma and build your reddit profile. then come back here and find the people who enjoyed your posts on reddit.</p>
    <p><a href="http://www.reddit.com/">back to reddit.com</a></p>
  </div>
</article>

{% endblock %}
