{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}link your photo{% endblock %}

{% block body_classes %}signup-steps step-5 step-add-pictures{% endblock %}

{% block head %}{% endblock %}

{% block main %}

{% include 'dtr5app/step_progress.html' %}

{% include 'dtr5app/announce_add_pics_to_profile.html' %}

<article>
  <div class="overlay">
    <h1>link your photo</h1>
    <form method="POST" action="{% url 'me_picture_page' %}">
      {% csrf_token %}
      <input type="text" name="pic_url" value="" placeholder="http://imgur.com/?????">
      <input type="submit">
    </form>
  </div>
  <div class="abouts">
    <p><strong>Add a link to a picture</strong> of yourself or your cat. If you prefer not to have your face linked to your account, use a picture of your arm or foot, or yourself with a bag over your head, or anything really. You can add more pictures later in your profile settings.</p>
    <p>Easiest for pic upload is <a href="http://imgur.com/">Imgur.com</a>, <u>no</u> account needed!</p>
    <p class="help"><strong>No violence and no porn, please!</strong> Keep it SFW. Break the rules and get instabanned. Ain't nobody got time for them dick pics.</p>
  </div>
</article>

{% endblock %}
