{% extends 'dtr5app/base.html' %}
{% load static %}

{% block title %}search options{% endblock %}

{% block body_classes %}signup-steps step-6 step-search-options{% endblock %}

{% block head %}{% endblock %}

{% block main %}

{% include 'dtr5app/step_progress.html' %}

<article>
  <div class="overlay">
    <h1>search options</h1>
    <form method="POST" action="{% url 'me_search_page' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{% url 'me_page' %}">

      <div>
        <label>
          <select name="f_sex" size="1">
            <option value="">everybody</option>
            {% for sex in sex_choices %}
              {% if sex.0 > 0 %}
                <option{% if user.profile.f_sex == sex.0 %} selected{% endif %} value="{{sex.0}}">{{sex.1}}</option>
              {% endif %}
            {% endfor %}
          </select>
        </label>
        &nbsp;
        <label>
          <select name="f_distance" size="1">
            {% for x in DISTANCE %}
              <option{% if user.profile.f_distance == x.0 %} selected{% endif %} value="{{x.0}}">{{x.1}}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div>
        <label class="submit">
          <input type="submit">
        </label>
      </div>

    </form>
  </div>
  <div class="abouts">
    <p>You can update the search options in your profile settings anytime.</p>
  </div>
</article>

{% endblock %}
