{% extends 'dtr5app/base.html' %}
{% load static %}
{% load dtr5tags %}

{% block title %}usermap{% endblock %}

{% block head %}

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"><style>

#id_usermap { height: 80vh; background-color: silver; }

</style>
{% endblock %}

{% block body_classes %}usermap{% endblock %}

{% block main %}

<article>
  <div class="card nopadd" style="position:relative;">
    <select name="t" id="id_t" style="position:absolute; top:12px; left:12px;">
      <option value="0">all</option>
      <option value="525600">1 year</option>
      <option value="10080">1 week</option>
      <option value="1440">1 day</option>
      <option value="60">1 hour</option>
      <option value="5">5 mins</option>
    </select>
    <span class="loading" style="position:absolute; top:20px; right:16px; display:none;"><span></span><span></span><span></span></span>
    <h2>mapping redditors</h2>
    <section class="nopadd">
      <div id="id_usermap"></div>
    </section>
    <section class="help">
      all locations are fuzzied by a couple of miles, no marker shows the exact location of anybody
    </section>
  </div>
</article>

{% endblock %}

{% block foot %}
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>


// Lefalet shortcuts for common tile providers
// https://gist.github.com/mcechini/a814f36c7d1612e84c18
/*

var cloudmade      = new L.TileLayer.CloudMade({key: 'API-KEY', styleId: 997}),
    openStreetMap  = new L.TileLayer.OpenStreetMap(),
    openCycleMap   = new L.TileLayer.OpenCycleMap(),
    mapquestOsm    = new L.TileLayer.MapQuestOpen.OSM(),
    mapquestAerial = new L.TileLayer.MapQuestOpen.Aerial(),
    mapbox         = new L.TileLayer.MapBox({user: 'kkaefer', map: 'island'});
    nasagibs       = new L.TileLayer.NasaGibs({layer: 'MODIS_Terra_CorrectedReflectance_TrueColor', tilematrixset: 'GoogleMapsCompatible_Level9'});

*/

L.TileLayer.Common = L.TileLayer.extend({
  initialize: function (options) {
    L.TileLayer.prototype.initialize.call(this, this.url, options);
  }
});

(function () {

  var osmAttr = '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>';

  L.TileLayer.CloudMade = L.TileLayer.Common.extend({
    url: 'http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png',
    options: {
      attribution: 'Map data ' + osmAttr + ', Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
      styleId: 997
    }
  });

  L.TileLayer.OpenStreetMap = L.TileLayer.Common.extend({
    url: 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
    options: {attribution: osmAttr}
  });

  L.TileLayer.OpenCycleMap = L.TileLayer.Common.extend({
    url: 'http://{s}.tile.opencyclemap.org/cycle/{z}/{x}/{y}.png',
    options: {
      attribution: '&copy; OpenCycleMap, ' + 'Map data ' + osmAttr
    }
  });


  var mqTilesAttr = 'Tiles &copy; <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png" />';

/*  L.TileLayer.MapQuestOpen.OSM = L.TileLayer.Common.extend({
    url: 'http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.png',
    options: {
      subdomains: '1234',
      type: 'osm',
      attribution: 'Map data ' + L.TileLayer.OSM_ATTR + ', ' + mqTilesAttr
    }
  });

  L.TileLayer.MapQuestOpen.Aerial = L.TileLayer.MapQuestOpen.OSM.extend({
    options: {
      type: 'sat',
      attribution: 'Imagery &copy; NASA/JPL-Caltech and U.S. Depart. of Agriculture, Farm Service Agency, ' + mqTilesAttr
    }
  }); */


  L.TileLayer.MapBox = L.TileLayer.Common.extend({
    url: 'http://{s}.tiles.mapbox.com/v3/{user}.{map}/{z}/{x}/{y}.png'
  });

  L.TileLayer.NasaGibs = L.TileLayer.Common.extend({
    url: 'http://map1.vis.earthdata.nasa.gov/wmts-webmerc/{layer}/default//{tilematrixset}/{z}/{y}/{x}.{format}',
    options: {
      attribution: 'Imagery provided by services from the Global Imagery Browse Services (GIBS), operated by the NASA/GSFC/Earth Science Data and Information System (ESDIS, https://earthdata.nasa.gov) with funding provided by NASA/HQ.'
    }
  });

}());

// -----------------------------------------------------

var defaultlat = 41.505,
    defaultlng = -0.1,
    defaultzoom = 2,
    defaultmins = 0;
var userlat = {{user.profile.lat|default:0}},
    userlng = {{user.profile.lng|default:0}},
    userzoom = 8,
    usermins = 0;
if (!(userlat&&userlng)) {
  userlat = defaultlat;
  userlng = defaultlng;
  userzoom = defaultzoom;
  usermins = defaultmins;
}

var h = getHash();
var map = L.map('id_usermap').setView([h[0], h[1]], h[2]); //[lat,lng],zoom
var requestSent = false;
var marker = [];

new L.TileLayer.OpenStreetMap({maxZoom: 12}).addTo(map);
//new L.TileLayer.MapQuestOpen.OSM({maxZoom: 14}).addTo(map);
//new L.TileLayer.OpenCycleMap({maxZoom: 14}).addTo(map);
//L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>', maxZoom: 14, id: 'redddate.oee2oi55', accessToken: 'pk.eyJ1IjoicmVkZGRhdGUiLCJhIjoiY2lpN3h0bmozMDAwenR1bTNzbzVneWN3bSJ9.JgG77wkGWzVGYc4e2swEQQ'}).addTo(map);

map.on('zoomend', onMapBoxChange);
map.on('moveend', onMapBoxChange);
$('#id_t').on('change', onMapBoxChange);
onMapBoxChange();

function setHash() {
  var zoom = map.getZoom();
  var lat = map.getCenter().lat;
  var lng = map.getCenter().lng;
  var t = $('#id_t').val();
  location.hash = '#' + lat + ',' + lng + ',' + zoom + 'z,' + t;
}
function getHash(){
  var h = location.hash.replace('#', '').replace('z', '');
  h = h.split(',');
  h[0] = parseFloat( h[0] );
  h[1] = parseFloat( h[1] );
  h[2] = parseInt( h[2] );
  h[3] = parseInt( h[3] );

  if (h[0] && h[1] && h[2] && h[3]) {
    return h;
  } else {
    return [userlat, userlng, userzoom, 0];
  }
}

function onMapBoxChange(e) {
  // fires when the user's viewable area changes. check the zoom level
  // and fetch from server new user items for the viewable area.
  if (requestSent) return; else setHash();

  // all okay, send request. set lock and remove old markers.
  requestSent = true;
  var h = getHash();
  $('.loading').show();
  for (var i=0; i<marker.length; i++) map.removeLayer(marker[i]);

  var b = map.getBounds();
  var params = {'west': b.getWest()+1.0-1.0, 'north': b.getNorth()+1.0-1.0,
                'east': b.getEast()+1.0-1.0, 'south': b.getSouth()+1.0-1.0,
                't': h[3]};
  console.log('---> params: ', params);

  $.get('/map/', params, function(data){
    for (var i=0; i<data.users.length; i++) {
      var username = data.users[i][0];
      var lat = data.users[i][1];
      var lng = data.users[i][2];
      marker[i] = L.marker([lat,lng]).addTo(map);
      marker[i].bindPopup('<a href="/u/'+username+'/">'+username+'</a>');
    }
    $('.loading').hide();
    setTimeout(function(){ requestSent = false }, 3000);
  });
}


</script>
{% endblock %}
