{% extends 'dtr5app/base.html' %}

{% block title %}Viewed your profile{% endblock %}

{% block body_classes %}viewedme{% endblock %}

{% block main %}

<article>
  <div class="card nopadd">
    <h2>visitors</h2>
    <p class="subhead">The most recent visitors to your profile.</p>
    {% with viewedme=1 %}
      {% include 'dtr5app/user_list.html' %}
    {% endwith %}
  </div>

  <div class="pagination">
    {% if user_list.has_previous %}
      <a class="prev" href="?page={{user_list.previous_page_number}}"><span class="fa fa-arrow-left"></span></a>
    {% endif %}
    {% if user_list.has_next %}
      <a class="next" href="?page={{user_list.next_page_number}}"><span class="fa fa-arrow-right"></span></a>
    {% endif %}
    <span>
      {{user_list.number}} / {{user_list.paginator.num_pages}}
    </span>
  </div>
</article>

{% endblock %}
