/*

small screen < 600px
(sm in Angular Material lingo)

*/


body {
}


/*

Main page content area.
Usualy contains <article/> and sometimes <aside id="sidebar"/>.

*/

body main,
body article {
  clear: both;
  min-height: 80vh;
  margin: 0; padding: 0;
  overflow: hidden;
  width: 100vw;
}
body main {
  margin-top: 56px;
  position: relative;
}
body.has-sidebar #sidebar {
  display: block;
  float: none;
  width: 100vw;
  margin: 0; padding: 0;
}


/*

Site footer, with copyright stuff, content licence, privacy
statement, terms of service statement, cookie usage statement,
and whatnot statements.

 */
footer {
  background-color: rgba(0,0,0,0.56);
  clear: both;
  color: silver;
  font-size: 0.9rem;
  margin: 0; padding: 8px;
}
footer a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
}



/*

Site header.

 */
header {
  background-color: rgba(0,82,128,1);
  height: 56px;
  margin: 0; padding: 0;
  position: fixed; top: 0; left: 0; right: 0;
  white-space: nowrap;
  z-index: 1000;
}
header .site-logo {
  color: white;
  margin: 0; padding: 0;
  position: absolute; top: 0; left: 0;
}
header .site-logo > a.site-icon > img {
  border: 0;
  height: 40px;
  margin: 0;
  padding: 0.5rem 1.25rem 0 1.25rem;
  vertical-align: middle;
}
header .site-logo > a.site-name {
  display: none;
}
header .site-links {
  font-size: 1rem; line-height: 50px;
  margin: 0; padding: 0;
  position: absolute; top: 0; right: 0;
}
header .site-links .dotmenu {
  position: absolute; top: 0; right: 0;
  /*
  border-left: 1px solid rgba(255,255,255,0.28);
  */
  display: inline-block;
  color: white;
  padding-top: 8px;
  width: 56px; height: 50px;
}
header .site-links .item {
  background-color: rgba(255,255,255,0);
  /*
  border-left: 1px solid rgba(255,255,255,0.28);
  */
  color: white;
  display: inline-block;
  margin: 0; padding: 6px 0 0 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: 0.1s ease-out;
  vertical-align: middle;
  white-space: nowrap;
  width: 3rem; height: 50px;
}
header .site-links .item.settings:last-of-type {
  margin-right: 64px;
}
header .site-links .item:hover {
  background-color: rgba(255,255,255,0.28);
  transition: 0.1s ease-out;
}
header .site-links .item .number {
  background-color: red;
  color: white;
  display: block; min-width: 1.5rem; height: 1.5rem;
  font-size: 1rem; line-height: 1.5rem;
  position: absolute; top: 0; right: 0;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
header .site-links .item .text {
  display: none;
}
header .site-links .item .icon {
  display: inline-block;
  margin: 0; padding: 0;
  font-size: 1.5rem; line-height: 1rem;
}



/*

Standard content card, simplefied Material-style.

 */
.card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  margin: 0 0 8px 0; padding: 8px;
}
.card > a:first-child {
  /* remove "jump to top" */
  display: none;
}
.card > h2:first-of-type {
  font-size: 1rem; line-height: 2rem;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  font-weight: bold;
  margin: -8px -8px 8px -8px; padding: 0;
  text-align: center;
}
.card > p.subhead {
  background-color: #F3F3F3;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.56);
  margin: -8px -8px 8px -8px; padding: 8px;
  text-align: center;
}
.card.nopadd > p.subhead {
  margin: 0; padding: 8px;
}
.card > section {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin: -8px -8px 0 -8px;
  padding: 8px 16px;
}
.card section.nopadd {
  padding: 0;
}
.card.nopadd {
  padding: 0;
}
.card.nopadd > a:first-child {
  margin: 0; padding: 1rem;
}
.card.nopadd > h2:first-of-type {
  margin: 0; padding: 0;
}
.card.nopadd > .subhead {
  margin: 0; padding: 8px;
}
.card.nopadd section {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin: 0; padding: 8px 16px;
}
.card.nopadd section:last-of-type {
  border-bottom: 0;
}
.card.nopadd section.nopadd {
  margin: 0; padding: 0;
}
.card.nopadd section.nopadd.foot p {
  background-color: #F3F3F3;
  color: gray;
  margin: 0; padding: 8px;
  text-align: left;
}


/*

User list horizontal (inline-block).

--> used on body.sr subreddit spcific pages.

 */

body .subheader {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  margin: 0; padding: 11px 8px 13px 8px;
  text-align: left;
}
body .subheader > .reddit-link {
  display: block;
  font-size: 1.5rem; line-height: 1em;
  font-weight: normal;
  margin: 0; padding: 8px;
  text-align: center;
}
body .subheader > .reddit-link > .fa {
  font-size: 1.5rem;
  margin-right: 4px;
  opacity: 0.5;
}
body .subheader > .info {
  font-size: 1rem; line-height: 1.5rem;
  vertical-align: middle;
}

body.sr article,
body.results article {
  text-align: center;
}
body.results .subheader .info span {
  border-bottom: 1px dotted gray;
}


/*

The list of settings options on the "preferences" page.

 */

body.me .card.section-profile,
body.me .card.section-geolocation,
body.me .card.section-srlist {
  text-align: center;
}

body.me .card.section-profile section:not(:last-of-type),
body.me .card.section-srlist section:first-of-type {
  padding: 4px;
}
body.me .card.section-profile .key-col {
  display: block;
  margin: 0 0 8px 0; padding: 0;
  text-align: center;
  font-size: 1rem; line-height: 1em;
  font-weight: normal;
}
body.me .card.section-profile .val-col {
  display: block;
  margin: 0; padding: 0;
  line-height: 3rem;
}
body.me .card.section-profile .val-col .help {
  margin: 8px 0 0 0; padding: 0;
}

body.me .section-profile .herefor .val-col {
  display: inline-block;
}
body.me .section-profile .herefor .val-col .item {
  border: 1px solid rgba(0,0,0,0.12);
  border-collapse: collapse;
  color: white;
  display: inline-block;
  margin: 0; padding: 16px 8px;
  position: relative;
}
body.me .section-profile .herefor .val-col .item input {
  display: none;
}
body.me .section-profile .herefor .val-col .item .tx {
  border: 1px solid transparent;
  color: white;
  display: block;
  opacity: 0.82;
  font-size: 1rem; line-height: 1em;
  margin: 0; padding: 7px;
}
body.me .section-profile .herefor .val-col .item input:checked + .tx {
  border-color: white;
  opacity: 1;
}
body.me .section-profile .herefor .val-col .item:nth-child(1) { background-color: #FF0000; }
body.me .section-profile .herefor .val-col .item:nth-child(2) { background-color: #bd0042; }
body.me .section-profile .herefor .val-col .item:nth-child(3) { background-color: #94006d; }
body.me .section-profile .herefor .val-col .item:nth-child(4) { background-color: #65009d; }
body.me .section-profile .herefor .val-col .item:nth-child(5) { background-color: #0000FF; }

body.me .card.section-geolocation .help {
  margin: 16px 0 0 0; padding: 8px;
  background-color: #F9F9F9;
  text-align: left;
}



body.me .card.section-about textarea {
  width: 85vw; height: 100px;
  resize: both;
}
body.me .card.section-pics .item.pics-form input[type="text"] {
  width: 85vw;
}
body.me .card.section-pics .item.pics-preview {
  font-size: 0;
  margin: 8px 0 0 0;
}
body.me .card.section-pics .item.pics-preview > .pic {
  display: inline-block;
  margin: 8px; padding: 0;
  position: relative;
  vertical-align: middle;
}
body.me .card.section-pics .item.pics-preview > .pic img {
  background-color: #F3F3F3;
  max-width: 50vw; height: 75px;
  border: 4px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
}
body.me .card.section-pics .item.pics-preview > .pic input[type="submit"] {
  cursor: pointer;
  font-size: 1rem; line-height: 1em;
  opacity: 0.1;
  position: absolute; top: 10px; right: 10px;
  transition: 0.3s ease-out;
}
body.me .card.section-pics .item.pics-preview > .pic:hover input[type="submit"] {
  opacity: 1;
  transition: 0.3s ease-out;
}




/*

List of system messages to respond to user input etc. Shown
between "header" and "main" only if there are any messeges.

 */
ul#site-messages {
  background-color: rgba(0,0,0,0.6);
  clear: both;
  color: white;
  display: block;
  font-size: 1.15rem;
  list-style: none;
  cursor: pointer;
  min-height: 66vh;
  margin: 0; padding: 8px;
  opacity: 1;
  position: fixed; bottom: 0; right: 0; left: 0;
  z-index: 999;
}
ul#site-messages li {
  margin: 0; padding: 8px;
}
ul#site-messages li a {
}






/*

User profile page.

 */
body.profile {
  background: rgba(0,82,128,1);
}

body.profile article,
body.profile .card {
  clear: both;
}

body.profile .headcard {
  overflow: hidden;
  padding: 0;
  display: block;
  position: relative;
  height: calc(48px + 100vw);
}
body.profile .headcard .intro {
  display: block;
  margin: 0; padding: 0;
}
body.profile .headcard .intro .top {
  background-color: #005280;
  border-top: 1px solid rgba(255,255,255,0.12);
  display: block;
  height: 48px;
  margin: 0; padding: 0;
  text-align: center;
  white-space: nowrap;
}
body.profile .headcard .intro .top a {
  color: rgba(255,255,255,0.82);
  display: inline-block;
  font-size: 0.9rem; line-height: 48px;
  margin: 0; padding: 0 8px;
}
body.profile .headcard .intro .textline {
  background-color: rgba(255,255,255,0.56);
  color: black;
  display: block;
  font-size: 14px; line-height: 20px;
  position: absolute; bottom: 0;
  margin: 0; padding: 8px;
}
body.profile .headcard .intro .textline a {
  color: inherit;
  border-bottom: 1px dotted gray;
}
body.profile .headcard .intro .textline .username {
  border-bottom: 0;
  font-weight: bold;
}
body.profile .headcard .intro .meta {
  color: gray;
  display: none;
  padding: 16px;
}

body.profile .card.headcard .dotmenu {
  display: none;
}

body.profile .upvote-hide {
  background-color: rgba(255,255,255,0.82);
  display: block;
  margin: 0; padding: 4px 0;
  overflow: hidden;
  position: fixed;
  top: 92px; left: 10px;
  width: 70px; height: 50px;
  z-index: 101;
}
body.profile .upvote-hide .upvote {
  display: block;
  margin: 0; padding: 0;
}
body.profile .upvote-hide .upvote input[type="submit"] {
  display: block;
  opacity: 0.75;
  background-color: transparent;
  background-image: url(/static/up-arrows-2.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px; height: 50px;
  margin: 0; padding: 0;
  border: 0; outline: 0;
}
body.profile .upvote-hide .upvote input[type="submit"]:hover {
  opacity: 1;
}
body.profile.is-like .upvote-hide .upvote {
}
body.profile.is-match .upvote-hide .upvote input[type="submit"],
body.profile.is-like .upvote-hide .upvote input[type="submit"] {
  opacity: 1;
}

body.profile .upvote-hide .middot {
  display: none;
}
body.profile .upvote-hide .hide {
  display: none;
}
body.profile .upvote-hide .hide input[type="submit"] {
  opacity: 0.75;
  background: transparent;
  border: 0; outline: 0;
  color: gray;
  font-size: 0.9rem;
  font-weight: bold;
  width: 84px;
  margin: 16px 0 0 0; padding: 0;
}
body.profile .upvote-hide .hide input[type="submit"]:hover {
  opacity: 1;
}

body.profile .pics {
  width: 100vw;
  overflow: hidden;
  transition: 0.3s ease-out;
}
body.profile .pics ul {
  display: block;
  list-style: none;
  margin: 0; padding: 0;
}
body.profile .pics ul li {
  display: none;
}
body.profile .pics ul li:first-child {
  display: block;
  width: 100vw; height: 100vw;
  margin: 0; padding: 0;
  overflow: hidden;
}
body.profile .pics ul li:first-child .pic {
  border: 0;
  display: block;
  width: inherit; height: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body.profile .about {
  margin: 0; padding: 16px;
}
body.profile .links-to-reddit-profile {
  display: block;
  list-style: none;
  text-align: center;
  margin: 0; padding: 0;
}
body.profile .links-to-reddit-profile li {
  display: inline-block;
  margin: 0; padding: 16px;
}
body.profile .info-tables {
  overflow: hidden;
  margin: 0; padding: 0 8px;
}
body.profile .info {
  float: left;
  margin: 8px; padding: 0;
}
body.profile .info table {
  margin: 16px 0;
  border-spacing: 0;
  border-collapse: collapse;
}
body.profile .info table thead tr td {
  text-align: center;
  font-weight: bold;
  padding: 8px;
}
body.profile .info table tbody tr td {
  background-color: #FFFFFF;
  padding: 0 8px;
  line-height: 40px;
  border: 1px solid #CCC;
}

body.profile .fullpics {}

body.profile .fullpics > span {
  background-color: black;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100vw; height: 100vw;
}
body.profile .fullpics > span.no {
  display: none;
}
body.profile .fullpics > span > a,
body.profile .fullpics > span > span {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  width: inherit; height: inherit;
}



/*

when it was a match

*/

body.profile .announce.match {
  background-color: rgba(255,255,255,0.36);
  margin: 0; padding: 16px;
  overflow: hidden;
  text-align: center;
}
body.profile .announce.match h1 {
  font-size: 2.5rem; line-height: 1em;
  font-weight: bold;
  letter-spacing: 6px;
  display: block;
  color: white;
  text-shadow: 2px 2px 1px black;
}
body.profile .announce.match .action {
  padding: 16px;
  clear: both;
  text-align: center;
}
body.profile .announce.match .action .mainbtn {
  padding-top: 10px;
}
body.profile .announce.match .action .later {
  border: 1px solid white;
  color: white;
  display: inline-block;
  font-size: 1rem; line-height: 1em;
  font-weight: normal;
  margin: 24px 0 0 0; padding: 8px 16px;
  opacity: 0.56;
  transition: 0.2s ease-out;
}
body.profile .announce.match .action .later:hover {
  opacity: 1;
  transition: 0.2s ease-out;
}
body.profile .announce.match .uu {
  display: block;
  text-align: center;
}
body.profile .announce.match .uu > div {
  display: inline-block;
  font-size: 1rem; line-height: 1em;
  vertical-align: middle;
}
body.profile .announce.match .uu > div > span.username {
  color: white;
  display: block;
  opacity: 0.56;
  margin: 4px 0 0 0;
}
body.profile .announce.match .uu > div > img {
  border: 10px solid #FFFFFF;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.56);
  display: block;
  width: 40vw; height: auto;
  margin: 0; padding: 0;

}
body.profile .announce.match .uu > div.u1 {
  margin-right: 16px;
}
body.profile .announce.match .uu > div.u2 {
  margin-left: 16px;
}

/*

when auth user liked view user, but there is no like back (yet)

*/

body.profile .announce.like {
  background-color: red;
  color: white;
  display: inline-block;
  margin: 0; padding: 8px 16px;
  position: absolute; top: 2px; left: -20px;
  transform: rotate(-25deg);
}

body.profile .announce.nope {
  background-color: gray;
  color: white;
  display: block;
  margin: 0; padding: 16px 0;
  text-align: center;
}
body.profile .announce.nope form {
  display: inline-block;
}
body.profile .announce.nope form input[type="submit"] {
  background: 0;
  border: 1px solid white;
  display: inline-block;
  outline: 0;
  margin: 0 0 0 16px; padding: 4px 8px;
}

body.profile .announce.herefor span {
  color: white;
  display: block;
  margin: 16px 0 -16px 0; padding: 16px 32px;
  text-align: center;
}


/*

the list with five following profiles
at the end of the profile view.

 */

body.profile .prevnext-user-list {
  margin: 0;
  overflow-x: scroll;
}


/*

left-right skip to next / prev user profile

 */

body.profile .prevnext-arrows {
}
body.profile .prevnext-arrows > a {
  background-color: rgba(0,82,128,1);
  box-shadow: 0 0 3px black;
  color: white;
  display: block; width: 56px; height: 56px;
  font-size: 32px; line-height: 56px;
  opacity: 0.56;
  position: fixed; bottom: 0;
  text-align: center;
}
body.profile .prevnext-arrows > a.prev {
  border-radius: 0 28px 0 0;
  left: 0;
}
body.profile .prevnext-arrows > a.next {
  border-radius: 28px 0 0 0;
  right: 0;
}


/*

Home page signup screen for anonymous users.

 */

body.as-overlay main,
body.signup-steps main {
  display: block;
  min-height: 100vh; width: 100%;
  background: #FFFFFF url(/static/reddit2.jpg) center center no-repeat;
  background-size: cover;
}
body.as-overlay article,
body.signup-steps article {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #5F99CF;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  display: block;
  margin: 10vh auto; padding: 0;
  overflow: hidden;
  width: 500px;
}
body.as-overlay article h1,
body.signup-steps article h1 {
  font-size: 2.5rem; line-height: 1rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
body.as-overlay article h1 a,
body.signup-steps article h1 a {
  color: inherit; text-decoration: inherit;
}
body.as-overlay article .overlay,
body.signup-steps article .overlay {
  background-color: #CEE3F8;
  text-align: center;
  margin: 0; padding: 24px;
}
body.as-overlay article .abouts,
body.signup-steps article .abouts {
  display: block;
  font-size: 1rem;
  margin: 0; padding: 0 16px;
}


/*

After signup steps to input basic account info.

 */

body.signup-steps {
}
body.signup-steps.step-1 {  /* Signup with reddit */
}
body.signup-steps.step-1 div.show-signup-steps {
  display: none;
}
body.signup-steps.step-2 {  /* Update Subreddits */
}
body.signup-steps.step-3 {  /* Update geolocation */
}
body.signup-steps.step-4 {  /* Set age and gender */
}
body.signup-steps.step-5 {  /* Link some photos */
}
body.signup-steps .show-signup-steps {
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  text-align: center;
}
body.signup-steps .show-signup-steps > span {
  color: gray;
  display: inline-block;
  margin: 0; padding: 8px;
}
body.signup-steps .show-signup-steps > div {
  color: gray;
  display: inline-block;
  margin: 0; padding: 16px 0;
}
body.signup-steps.step-1 .show-signup-steps > div.step-1,
body.signup-steps.step-2 .show-signup-steps > div.step-2,
body.signup-steps.step-3 .show-signup-steps > div.step-3,
body.signup-steps.step-4 .show-signup-steps > div.step-4,
body.signup-steps.step-5 .show-signup-steps > div.step-5,
body.signup-steps.step-6 .show-signup-steps > div.step-6 {
  color: #000; font-weight: bold;
}
body.signup-steps article .overlay {
}
body.signup-steps article .overlay form > div {
  margin: 16px 0;
}
body.signup-steps.step-4 article .overlay textarea {
  width: 100%; height: 90px;
}
body.signup-steps.step-5 article .overlay input[type="text"] {
  width: 200px;
}
body.signup-steps article div.abouts {
}



body.reports .navlinks {
  text-align: center;
  padding: 16px;
}
body.reports .navlinks a,
body.reports .navlinks span {
  margin: 0; padding: 8px 16px;
  vertical-align: middle;
}
body.reports .navlinks a {
  font-size: 1rem; line-height: 1.25rem;
}
body.reports .navlinks span {
  font-size: 1.25rem; line-height: 1.25rem;
}
body.reports .report.card {
  position: relative;
}
body.reports .report.card .receiver {
  font-size: 1.25rem;
}
body.reports .report.card .receiver form {
  display: block; float: right;
  margin: 0; padding: 0;
  opacity: 0.5;
}
body.reports .report.card .receiver form:hover {
  opacity: 1;
}
body.reports .report.card .receiver form input[type="submit"] {
  font-size: 0.8rem; line-height: 0.8rem;
  margin: 0; padding: 2px;
  vertical-align: top;
}
body.reports .report.card .receiver .reason {
  font-weight: bold;
}
body.reports .report.card .receiver .counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  display: inline-block;
  font-size: 20px; line-height: 20px;
  font-weight: bold;
  margin: 0; padding: 16px;
  position: absolute; top: -8px; left: -44px;
  text-align: center;
  width: 20px; height: 20px;
}
body.reports .report.card .details {
  border-top: 1px solid rgba(0,0,0,0.12);
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin: 16px 0; padding: 16px;
  color: gray;
}
body.reports .report.card .sender {
}








/* signup screens */

body.as-overlay main,
body.signup-steps main {
  background: none; min-height: 0;
}
body.as-overlay article,
body.signup-steps article {
  margin: 0; padding: 0;
  width: auto;
}
body.as-overlay article .overlay,
body.signup-steps article .overlay {
  display: block;
  margin: 0; padding: 16px;
  width: auto;
  text-align: center;
}
body.as-overlay article .overlay h1,
body.signup-steps article .overlay h1 {
  margin: 0; padding: 8px;
  float: none;
  line-height: 1.15em;
}
body.as-overlay article .overlay .mainbtn,
body.signup-steps article .overlay .mainbtn {
  margin: 0 auto;
}
body.as-overlay article .abouts,
body.signup-steps article .abouts {
  margin: 0; padding: 0 8px;
  width: auto; min-height: 50vh;
}
body.signup-steps .show-signup-steps {
  padding: 4px;
}
body.signup-steps .show-signup-steps > div {
  padding: 4px;
}
body.signup-steps .show-signup-steps > div:not(:first-child):before {
  content: '';
  margin: 0; padding: 0;
}


/*

remove the colored annoucement bar on <sm

*/
.site-announcements {
  display: none;
}




/*

User list vertical (one per line): for matches, nopes, etc.

 */
ul.user-list-vert {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0; padding: 0;
}
ul.user-list-vert li {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  display: block;
  margin: 0; padding: 0;
  overflow: hidden;
  position: relative;
  width: 100vw; height: 100vw;
}
ul.user-list-vert li a.pic {
  display: block;
  margin: 0; padding: 0;
  width: inherit; height: inherit;
}
ul.user-list-vert li a.pic img {
  border: 0;
  width: inherit; height: inherit;
}
ul.user-list-vert li span.info {
  display: block;
  font-size: 1rem; line-height: 1.5em;
  margin: 0; padding: 8px;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background-color: rgba(255,255,255,0.56);
}
ul.user-list-vert li span.info a.username {
  display: block;
  font-size: 2rem; line-height: 2rem;
  margin: 0; padding: 0;
  padding-bottom: 0.25rem
}
ul.user-list-vert li span.info span.asl {
  display: block;
  font-size: 1rem; line-height: 1.25rem;
}
ul.user-list-vert li span.info span.asl.short {
  display: none;
}
ul.user-list-vert li .matched {
  color: gray;
  margin: 8px 0 0 0;
}
ul.user-list-vert li .mainbtn {
  margin: 8px;
}



/*

list of user profiles by profile picture, with some basic info onmouseover.
also, two selection buttons are shown onmouseover, to "connect" with the user
or to "hide" them.

 */
ul.user-list {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0; padding: 0;
}
ul.user-list li {
  display: inline-block;
  margin: 8px; padding: 0;
  position: relative;
  vertical-align: middle;
}
ul.user-list li a.pic {
  display: block;
  margin: 0; padding: 0;
}
ul.user-list li a.pic img {
  border: 8px solid #FFFFFF;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  display: block;
  box-sizing: border-box;
  width: 95vw; height: auto;
  max-height: 800px;
  margin: 0; padding: 0;
}
ul.user-list li .info {
  background-color: rgba(0,0,0,0.6);
  display: block;
  font-size: 1rem; line-height: 1.5em;
  margin: 0; padding: 0;
  opacity: 1;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transition: 0.3s ease-out;
}
ul.user-list li .info .username {
  display: block;
  color: white;
  font-size: 20px; line-height: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 111px;
}
ul.user-list li .info .asl {
  color: white;
  display: block;
  font-size: 16px; line-height: 16px;
  margin-top: 8px;
  text-align: center;
}

ul.user-list li .like-nope-btns {
  display: none;
  margin: 0; padding: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
ul.user-list li:hover .like-nope-btns {
  opacity: 1;
  transition: 0.3s ease-out;
}
ul.user-list li .like-nope-btns > .opt > input[type="submit"] {
  margin: 0; padding: 0; border: 0; outline: 0;
  position: absolute; left: calc(50% - 42px);
  width: 84px; height: 73px;
}
ul.user-list li .like-nope-btns > .opt.like > input[type="submit"] {
  background: transparent url(/static/up-arrows-2.gif) center center no-repeat;
  top: 16px;
}
ul.user-list li .like-nope-btns > .opt.nope > input[type="submit"] {
  background: transparent url(/static/down-arrows-2.gif) center center no-repeat;
  bottom: 16px;
}

