/*

background-color: #CEE3F8;
border-bottom: 1px solid #5F99CF;

*/

body {
  background-color: #F3F3F3;
  font: normal 16px/16px 'Roboto', sans-serif;
  margin: 0; padding: 0;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.35em;
}
form, button {
  display: inline;
  margin: 0
}
form {
  padding: 0;
}
ul > li  {
  line-height: 1.5rem;
}
input[type="text"], input[type="date"], input[type="submit"], select {
  margin: 4px; padding: 4px;
}
input[type="submit"], select, label {
  cursor: pointer;
}
input[type="submit"] {
  min-width: 75px;
}


/*

Slightly smaller and slightly lighter than regular text.

 */
.help {
  font-size: 0.9rem;
  color: gray;
}


/*

Zodiac symbol boxes.

 */
.zodiac {
  display: inline-block;
  width: 1.5rem; height: 1.5rem;
  font-size: 1.25rem; line-height: 1.5rem;
  background-color: #F00; color: #FFF;
  text-align: center;
  border-radius: 3px;
  margin: 0; padding: 0;
  vertical-align: middle;
}


/*

Background colors for "herefor" values.

 */
.herefor-bg1 { background-color: #FF0000; }
.herefor-bg2 { background-color: #bd0042; }
.herefor-bg4 { background-color: #94006d; }
.herefor-bg8 { background-color: #65009d; }
.herefor-bg16{ background-color: #0000FF; }



/*

The three-dots-menu, usually found at the top right corner of cards.

 */
nav.dotmenu {
  color: gray;
  cursor: pointer;
  display: block; width: 2.5rem; height: 2.5rem;
  float: right;
  font-weight: normal; font-style: normal;
  font-size: 2.5rem; line-height: 2.5rem;
  opacity: 1;
  padding: 0; margin: 0;
  position: relative;
  text-align: center;
}
nav.dotmenu:hover {
  transform: 0.1s;
}
nav.dotmenu > .opts {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.6);
  color: rgba(0,0,0,1);
  display:none;
  font-size: 1rem; line-height: 1rem;
  list-style: none;
  margin: 0; padding: 0;
  overflow: hidden;
  position: absolute; right: 8px; top: 32px;
  text-align: left;
  width: 250px;
  z-index: 50;
}
nav.dotmenu > input[type="checkbox"] {
  display: block; width: 2.5rem; height: 2.5rem;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  opacity: 0; cursor: pointer;
}
nav.dotmenu > input[type="checkbox"]:checked + .opts {
  display: block;
}
nav.dotmenu > .opts > li {
  border-top: 1px solid #ccc;
  margin: 0; padding: 0;
  transition: 0.1s ease-in;
}
nav.dotmenu > .opts > li:hover {
  background-color: #F3F3F3;
  transition: 0.1s ease-out;
}
nav.dotmenu > .opts > li:first-child {
  border-top: 0;
}
nav.dotmenu > .opts > li > form > input[type="submit"],
nav.dotmenu > .opts > li > span,
nav.dotmenu > .opts > li > a {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: block;
  font-weight: normal;
  font-size: inherit; line-height: inherit;
  margin: 0 0 0 1.75rem; padding: 1rem;
  text-align: left;
  text-decoration: inherit;
}
nav.dotmenu > .opts > li > form > input[type="submit"] {
  width: calc(100% - 2rem);
}
nav.dotmenu > .opts > li > span.fa,
nav.dotmenu > .opts > li > form > span.fa {
  display: block; float: left;
  font-size: 1.25rem; line-height: inherit;
  margin: 0; padding: 1rem 0 1rem 1rem;
  text-align: center;
  width: 1rem;
}
nav.dotmenu > .opts > li.secondary {
  color: gray;
}


nav.dotmenu > .opts > li > .cst-arrow-up {
  background: url(/static/up-arrows-64x56.gif) center center no-repeat;
  background-size: contain;
  background-color: transparent;
  display: block;
  float: left;
  margin: 0.75rem 0.5rem 0.75rem 0.5rem; padding: 0;
  text-align: center;
  width: 28px; height: 28px;
}
nav.dotmenu > .opts > li > .cst-arrow-up.gray {
  /* background-image: url(/static/up-arrows-64x56-gray.gif); */
  opacity: 0.75;
}




/*

a section that can be "opened and closed" by clicking
on the <h3/> title of the section. similar to .dotmenu

 */
.toggle-section {
  display: block;
  padding: 0; margin: 0;
  border-top: 1px solid rgba(0,0,0,0.12);
}
.toggle-section > label > h3 {
  cursor: pointer;
  display: block;
  margin: 0; padding: 16px;
  font-size: 1rem; line-height: 1rem;
  font-weight: normal;
  color: blue;
}
.toggle-section > label > h3:after {
  content: '⯆';
  padding-left: 4px;
}
.toggle-section > input[type="checkbox"] {
  display: none; cursor: pointer;
}
.toggle-section > .opts {
  display: none;
  overflow: hidden;
  margin: 0; padding: 0;
}
.toggle-section > input[type="checkbox"]:checked + .opts {
  display: block;
}

.card .toggle-section h3 {
  text-align: center;
  background-color: #F9F9F9;
}
.card .toggle-section > .opts {
}
.card .toggle-section > .opts > section {
  padding: 24px 32px;
  border-top: 1px solid rgba(0,0,0,0.12);
}
.card .toggle-section > .opts > section p {
  margin: 0; padding: 0;
}

/* Search results page top search bar. */
.search-bar {
    position: relative;
}
.search-bar .mainopts {
    display: inline-block;
}
.search-bar .toggle-section {
    border: 0;
}
.search-bar .toggle-section > label {
    position: absolute; top: 0rem; right: 1rem;
}
.search-bar .toggle-section > .opts {
    margin-top: 1.5rem;
}
.search-bar .toggle-section > .opts > section {
  padding: 24px 32px;
  border-top: 1px solid rgba(0,0,0,0.12);
}
.search-bar .toggle-section > .opts > section p {
  margin: 0; padding: 0;
}
.search-bar .reddit-link {
  display: inline-block;
  font-size: 1.5rem; line-height: 1.5rem;
  font-weight: normal;
  margin: 0; padding: 0 16px 0 0;
  vertical-align: middle;
}
.search-bar .reddit-link > .fa {
  font-size: 1.5rem;
  margin-right: 4px;
  opacity: 0.2;
}



/*

list of "lookingfor" options in profile and settings,
with and without "checkbox" selectors.

 */
.lookingfor-list {
  margin: 0; padding: 0;
}
.lookingfor-list ul {
  display: inline-block;
  list-style: none;
  margin: 0; padding: 0;
}
.lookingfor-list ul li {
  background-color: orange;
  border: 2px solid orange;
  display: inline-block;
  font-size: 1rem; line-height: 1em;
  margin: 1px; padding: 8px 12px;
  vertical-align: middle;
}
.lookingfor-list ul li .tx {
  color: rgba(255,255,255,0.78);
}
.lookingfor-list ul li input[type="checkbox"] {
  margin: 0 0.25rem 0 0; padding: 0;
  opacity: 0.2;
  vertical-align: middle;
  width: 1rem; height: 1rem;
}
.lookingfor-list ul li input[type="checkbox"]:checked + .tx {
  color: rgba(255,255,255,1);
  font-weight: bold;
}
.lookingfor-list ul li input[type="checkbox"]:checked {
  opacity: 0.9;
}


/*

Reddit style action button.

 */
.mainbtn {
  background-color: #FFFFFF;
  border-radius: 0;
  border: 1px solid #5F99CF; border-right: 0;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #741A92;
  cursor: pointer;
  display: block;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin: 0 auto; padding: 7px 0 0 0;
  overflow: none;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 250px; height: 39px;
}
.mainbtn.narrow {
  width: 150px;
}
.mainbtn.wide {
  width: 350px;
}
.mainbtn:before {
  background-color: #FFFFFF;
  border-radius: 0;
  border: 1px solid #5F99CF;
  border-width: 1px 1px 0 0;
  content: '';
  display: block;
  font-size: 0;
  margin: 0; padding: 0;
  position: absolute; top: 5px; right: -14px;
  width: 26px; height: 26px;
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mainbtn {
  background: linear-gradient(0deg, #CEE3F8, #FFFFFF);
  transition: 0.1s ease-out;
}
.mainbtn:before {
  background: linear-gradient(-45deg, #CEE3F8, #FFFFFF);
  transition: 0.1s ease-out;
}
.mainbtn:hover {
  background: linear-gradient(0deg, #5F99CF, #CEE3F8);
  color: #FFFFFF;
  transition: 0.1s ease-out;
}
.mainbtn:hover:before {
  background: linear-gradient(-45deg, #5F99CF, #CEE3F8);
  transition: 0.1s ease-out;
}
.mainbtn.warning {
  color: #C00000;
  border-color: #C00000;
  transition: 0.2s ease-out;
}
.mainbtn.warning:before {
  border-color: #C00000;
  transition: 0.2s ease-out;
}
.mainbtn.warning:hover {
  background: #C00000;
  color: #FFFFFF;
  transition: 0.2s ease-out;
}
.mainbtn.warning:hover:before {
  background: #C00000;
  transition: 0.2s ease-out;
}
.mainbtn input[type="submit"] {
  background: 0;
  border: 0; outline: 0;
  margin: 0; padding: 0; /* 2px 0 1px 0; */
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}



/*

Small box with picture links to more user profiles.

 */

.prevnext-user-list {
  display: block;
  margin: 32px; padding: 0;
  overflow: hidden;
}
.prevnext-user-list > ul {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0; padding: 0;
  white-space: nowrap;
  text-align: center;
}
.prevnext-user-list > ul > li {
  display: inline-block;
  font-size: 0;
  margin: 0; padding: 0;
  vertical-align: middle;
  position: relative;
}
.prevnext-user-list > ul > li > a {
  display: block;
  overflow: hidden;
  position: relative;
}
.prevnext-user-list > ul > li > a > img {
  border: 5px solid white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  height: 100px;
  margin: 16px; padding: 0;
}


/*

User list horizontal (inline-block).

--> used on body.sr subreddit spcific pages.

 */

body .subheader {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  margin: 0; padding: 22px 16px 24px 16px;
  text-align: left;
}
body .subheader > .info {
  font-size: 1rem; line-height: 1.5rem;
  vertical-align: middle;
}

body.sr article,
body.results article {
  text-align: center;
}
body.results .subheader .info span {
  border-bottom: 1px dotted gray;
}






/*

List of subreddit matches on profile view.

 */
.sr-list-inline ul {
  list-style: none;
  margin: 0; padding: 0;
}
.sr-list-inline ul > li {
  background-color: #888;
  display: inline-block;
  font-size: 0;
  margin: 4px; padding: 0;
  overflow: hidden;
}
.sr-list-inline ul > li > a {
  border: 0;
  display: inline-block;
  font-size: 1.25rem; line-height: 2.25rem;
  padding: 0 8px;
  text-decoration: inherit;
  color: white;
}
.sr-list-inline ul > li > a[href^="https://"] {
  border-left: 1px solid gray;
  background-color: rgba(255,255,255,0.28);
  color: white;
  display: inline-block;
  font-size: 1.25rem; line-height: 2.25rem;
  text-shadow: none;
}
.sr-list-inline ul > li > a[href^="https://"] > span.fa { margin: 0; padding: 0; }
.sr-list-inline ul > li > .banned-tag,
.sr-list-inline ul > li > .muted-tag,
.sr-list-inline ul > li > .mod-tag,
.sr-list-inline ul > li > .nsfw-tag {
  background-color: gray;
  color: white;
  display: inline-block;
  font-size: 1.25rem; line-height: 2.25rem;
  margin: 0; padding: 0 8px;
}
.sr-list-inline ul > li > .mod-tag {
  background-color: transparent;
  color: red;
  padding-right: 0;
}
.sr-list-inline ul.smaller > li > a {
  font-size: 1rem; line-height: 2rem;
}
.sr-list-inline ul.smaller > li > .mod-tag {
  font-size: 1rem; line-height: 2rem;
}


/*

List of users as 200x300px cards.

*/
.user-list-cards { list-style: none; display: flex; flex-wrap: wrap; margin: 0; padding: 8px; overflow: hidden; justify-content: center; align-items: flex-start; }
.user-list-cards li { width: 200px; height: 300px; background: white; margin: 8px; padding: 0; box-shadow: 0 1px 3px rgba(0,0,0,0.28); position: relative; }
.user-list-cards li a.pic { display: block; width: 200px; height: 200px; background-color: white; background-position: center center; background-repeat: no-repeat; background-size: cover; background-image: url(/static/nopic.jpg); }
.user-list-cards li .info { display: block; box-sizing: border-box; width: 200px; height: 100px; overflow: hidden; text-align: left; padding: 12px 16px 0 16px; }

.user-list-cards li .info .username { display: block; }
.user-list-cards li .info .age { display: block; }
.user-list-cards li .info .loc { display: block; color: gray; }

.user-list-cards li .has-flag {  font-size: 1rem; line-height: 1em;  color: white;  background-color: red;  display: inline-block;  margin: 0;  padding: 8px 16px;  position: absolute; top: 5px; left: -20px;  transform: rotate(-25deg);  }
.user-list-cards li .has-flag.match { font-weight: bold; }
.user-list-cards li .has-flag.like-sent {  }
.user-list-cards li .has-flag.like-recv {  }

/*

for lists, arrows left and right for previous and next page.

*/
.pagination { display: block; font-size: 3.5rem; line-height: 5rem; color: white; overflow: hidden; margin: 24px 0; padding: 16px; }
.pagination > a { color: inherit; display: block; width: 5rem; height: 5rem; background-color: red; border-radius: 50%; text-align: center; text-shadow: 1px 1px 2px rgba(0,0,0,0.6); box-shadow: 1px 1px 2px rgba(0,0,0,0.6); }
.pagination > a.prev { float: left; }
.pagination > a.next { float: right; }
.pagination > a > span {}
.pagination > a.prev > span {}
.pagination > a.next > span {}
.pagination > span { display: block; margin: 0 6rem; padding: 0; color: black; text-align: center; font-size: 2rem; line-height: 5rem;  }


/*

Site header.

 */
header {
  background-color: rgba(0,82,128,1);
  /*
  background-color: rgba(0,82,128,0.56);
  #005280;
  #003B6F; reddit default color: #CEE3F8;
  border-bottom: 1px solid #5F99CF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  */
  height: 64px;
  margin: 0; padding: 0;
  position: relative;
  white-space: nowrap;
}
header .site-logo {
  color: white;
  margin: 0; padding: 0;
  position: absolute; top: 0; left: 0;
}
header .site-logo > a.site-icon > img {
  border: 0;
  height: 48px;
  margin: 0; padding: 8px 16px;
  vertical-align: middle;
}
header .site-logo > a.site-name {
  color: inherit; text-decoration: inherit;
  font-size: 1.5rem; line-height: 64px;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
  vertical-align: middle;
}
header .site-links {
  font-size: 1rem; line-height: 56px;
  margin: 0; padding: 0;
  position: absolute; top: 0; right: 0;
}
header .site-links .dotmenu {
  position: absolute; top: 0; right: 0;
  /*
  border-left: 1px solid rgba(255,255,255,0.28);
  */
  display: inline-block;
  color: white;
  padding-top: 14px;
  width: 64px; height: 50px;
}
header .site-links .item {
  background-color: rgba(255,255,255,0);
  /*
  border-left: 1px solid rgba(255,255,255,0.28);
  */
  color: white;
  display: inline-block;
  margin: 0; padding: 4px 16px;
  position: relative;
  text-align: center;
  transition: 0.1s ease-out;
}
header .site-links .item.settings:last-of-type {
  margin-right: 64px;
}
header .site-links .item:hover {
  background-color: rgba(255,255,255,0.28);
  transition: 0.1s ease-out;
}
header .site-links .item .number {
  background-color: rgab(0,0,0,0.56);
  border-radius: 50%;
  color: white;
  display: block;
  font-size: 1rem; line-height: 1.5rem;
  min-width: 1.5rem; height: 1.5rem;
  position: absolute; top: 0; right: 0;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
header .site-links .item .icon, .site-links .sep {
  display: none;
}


/*

List of system messages to respond to user input etc. Shown
between "header" and "main" only if there are any messeges.

 */
ul#site-messages {
  background-color: rgba(0,0,0,0.8);
  clear: both;
  color: white;
  display: block;
  font-size: 1.15rem;
  list-style: none;
  cursor: pointer;
  min-height: 33vh;
  margin: 0; padding: 8px;
  opacity: 1;
  position: fixed; bottom: 0; right: 0; left: 0;
  z-index: 999;
}
ul#site-messages li {
  margin: 0; padding: 8px;
}
ul#site-messages li a {
}


/*

Site footer, with copyright stuff, content licence, privacy
statement, terms of service statement, cookie usage statement,
and whatnot statements.

 */
footer {
  background-color: rgba(0,0,0,0.56);
  clear: both;
  color: silver;
  font-size: 0.9rem;
  margin: 0; padding: 16px;
}
footer a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
}



/* Three Dots*/
.loading {
  display:inline-block;
  font-size:0px;
  padding:0px;
}
.loading span {
  vertical-align:middle;
  border-radius:100%;
  background:#999;
  display:inline-block;
  width:10px;
  height:10px;
  margin:3px 2px;
  -webkit-animation:kf-loading 0.8s linear infinite alternate;
  animation:kf-loading 0.8s linear infinite alternate;
}
.loading span:nth-child(1) {
  -webkit-animation-delay:-0.8;
  animation-delay:-0.8s;
}
.loading span:nth-child(2) {
  -webkit-animation-delay:-0.53333s;
  animation-delay:-0.53333s;
}
.loading span:nth-child(3) {
  -webkit-animation-delay:-0.26666s;
  animation-delay:-0.26666s;
}
@keyframes kf-loading {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}
@-webkit-keyframes kf-loading {
  from {-webkit-transform: scale(0, 0);}
  to {-webkit-transform: scale(1, 1);}
}
