/*

background-color: #CEE3F8;
border-bottom: 1px solid #5F99CF;

*/

body {
  margin: 0; padding: 0;
  font: normal 16px/16px arial,verdana,helvetica,sans-serif;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.35em;
}
form, button {
  display: inline;
  margin: 0
}
input[type="text"], input[type="date"], input[type="submit"], select {
  margin: 4px; padding: 4px;
}
input[type="submit"], select, label {
  cursor: pointer;
}
input[type="submit"] {
  min-width: 75px;
}


/*

Slightly smaller and slightly lighter than regular text.

 */
.help {
  font-size: 0.9rem;
  color: #888;
}


/*

Tags next to subreddit names in subreddit sidebar lists.

 */
.nsfw-tag, .subscr-tag, .contrib-tag, .mod-tag, .banned-tag, .muted-tag {
  opacity: 0.5;
  background-color: blue;
  font-family: sans-serif;
  font-size: 0.65rem; line-height: 1rem;
  color: #FFF;
  margin: 0 0.25rem; padding: 0 0.5rem;
  border-radius: 0.4rem;
  vertical-align: middle;
}
.subscr-tag {
  background-color: green;
}
.banned-tag {
  background-color: black;
}


/*

Zodiac symbol boxes.

 */
.zodiac {
  display: inline-block;
  width: 1.5rem; height: 1.5rem;
  font-size: 1.25rem; line-height: 1.5rem;
  background-color: #F00; color: #FFF;
  text-align: center;
  border-radius: 3px;
  margin: 0; padding: 0;
  vertical-align: middle;
}


/*

Buttons on user profile pages for "like", "nope", or "dunno".

 */
.like-nope-duno {
  background-color: #F7F7F7;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  display: block;
  margin: 16px 16px 16px 0; padding: 16px 0;
}
.like-nope-duno .opt {
  background: none;
  border-radius: 50%;
  box-shadow: inset 0 5px 10px 5px rgba(255,255,255,0.3),
              inset 0 -5px 10px 5px rgba(0,0,0,0.1),
              1px 2px 3px rgba(0,0,0,0.3);
  color: #FFF;
  cursor: pointer;
  min-width: auto; min-height: auto;
  display: inline-block; width: 56px; height: 56px;
  font-size: 32px; line-height: 56px;
  margin: 0 0 0 24px; padding: 0; border: 0;
  outline: 0;
  text-align: center;
}
.like-nope-duno .opt:hover {
  opacity: 0.9;
}
.like-nope-duno .opt:active {
  box-shadow: inset 0 -3px 5px 3px rgba(255,255,255,0.3),
              inset 0 3px 5px 3px rgba(0,0,0,0.1),
              1px 2px 3px rgba(0,0,0,0.3);
}
.like-nope-duno .opt.like {
  background-color: #FF0000;
}
.like-nope-duno .opt.nope {
  background-color: #111;
}
.like-nope-duno .opt.duno {
  background-color: #999;
}
.like-nope-duno.small {
  text-align: right;
}
.like-nope-duno.small .opt.nope {
  width: 28px; height: 28px;
  font-size: 16px; line-height: 28px;
  margin: 0 16px;
}


/*

Small box with picture links to more user profiles.

 */
.prevnext-user-list {
  margin: 0 0 20px 0; padding: 0;
}
.prevnext-user-list > ul {
  /*
  background-color: #CEE3F8;
  border: 1px solid #5F99CF;
  border-radius: 5px;
  */
  border-bottom: 1px dotted #999;
  display: block; width: 600px;
  font-size: 0;
  list-style: none;
  margin: 0; padding: 2px 0;
  white-space: nowrap;
  text-align: center;
}
.prevnext-user-list > ul > li {
  display: inline-block;
  font-size: 0;
  height: 50px;
  margin: 0; padding: 0; border: 1px solid transparent;
  vertical-align: middle;
  position: relative;
}
.prevnext-user-list > ul > li .info {
  opacity: 0;
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 0;
  border: 1px solid #5F99CF;
  color: #111;
  font-size: 1rem;
  margin: 0; padding: 2px;
  position: absolute; top: -10px; left: 15px;
  transition: 0.5s ease-out;
  z-index: 999;
}
.prevnext-user-list > ul > li:hover .info {
  opacity: 0.8;
  transition: 0.5s ease-out;
}
.prevnext-user-list > ul > li a {
  display: block;
  height: inherit;
  max-width: 75px;
  overflow: hidden;
  position: relative;
}
.prevnext-user-list > ul > li:first-child a {
}
.prevnext-user-list > ul > li:last-child a {
}
.prevnext-user-list > ul > li a.pic img {
  border: 0;
  height: inherit;
}
.prevnext-user-list > ul > li a.nopic {
  width: 50px;
}
.prevnext-user-list > ul > li.curr {
  border-color: #F99;
}
.prevnext-user-list > ul > li.not-curr a img {
  opacity: 0.3;
  transform: scale(0.9);
}
.prevnext-user-list > ul > li.prev,
.prevnext-user-list > ul > li.next {
  height: 50px; width: 50px;
}
.prevnext-user-list > ul > li.prev a,
.prevnext-user-list > ul > li.next a {
  background-color: #FF0000;
  color: #FFFFFF;
  display: block;
  font-size: 1.5rem; line-height: 30px;
  margin: 10px; padding: 0;
  text-align: center;
  width: 30px; height: 30px;
}


/*

User list on pages: matches, sr, etc.

 */
ul.user-list {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0; padding: 0;
}
ul.user-list li {
  display: inline-block;
  margin: 1px; padding: 0;
  height: 200px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
ul.user-list li form {
  display: block;
  margin: 0; padding: 0;
  position: absolute; top: -30px; right: 4px;
  opacity: 0;
  transition: 0.3s ease-out;
}
ul.user-list li:hover form {
  opacity: 1;
  top: 4px;
  transition: 0.3s ease-out;
}
ul.user-list li input[type="submit"] {
}
ul.user-list li a.pic {
  height: inherit;
}
ul.user-list li a.pic img {
  height: inherit;
}
ul.user-list li span.info {
  background-color: rgba(255,255,255,1);
  display: block;
  font-size: 1rem; line-height: 1.5em;
  margin: 0; padding: 4px 8px;
  opacity: 0;
  position: absolute; bottom: -100px; left: 0; right: 0;
  transition: 0.3s ease-out;
}
ul.user-list li:hover span.info {
  opacity: 0.8;
  bottom: 0px;
  transition: 0.3s ease-out;
}
ul.user-list li span.info a.username {
  display: block;
}
ul.user-list li span.info span.asl {
  color: #888;
  display: block;
}


/*

Other user list, one user per line.

 */
ul.user-list-vert {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0; padding: 0;
}
ul.user-list-vert li {
  display: block;
  margin: 0; padding: 8px;
  overflow: hidden;
}
ul.user-list-vert li a.pic {
  display: block;
  float: left;
  width: 250px; height: 150px;
  text-align: right;
}
ul.user-list-vert li a.pic img {
  border: 0;
  max-width: 250px; height: 150px;
}
ul.user-list-vert li span.info {
  display: block;
  font-size: 1rem; line-height: 1.5em;
  margin: 0; padding: 4px 8px;
}
ul.user-list-vert li span.info a.username {
  display: block;
  font-size: 1.5rem; line-height: 1em;
}
ul.user-list-vert li span.info span.asl {
  color: #888;
  display: block;
}


/*

Reddit style action button, made only with CSS.

 */
.mainbtn {
  background-color: #FFFFFF;
  border-radius: 0;
  border: 1px solid #5F99CF; border-right: 0;
  color: #741A92;
  cursor: pointer;
  display: block;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: bold;
  margin: 0 auto; padding: 8px;
  overflow: none;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 250px;
}
.mainbtn.narrow {
  width: 150px;
}
.mainbtn.wide {
  width: 350px;
}
.mainbtn:before {
  background-color: #FFFFFF;
  border-radius: 0;
  border: 1px solid #5F99CF;
  border-width: 1px 1px 0 0;
  content: '';
  display: block;
  font-size: 0;
  margin: 0; padding: 0;
  position: absolute; top: 5px; right: -14px;
  width: 26px; height: 26px;
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mainbtn {
  background: linear-gradient(0deg, #CEE3F8, #FFFFFF);
  transition: 0.1s ease-out;
}
.mainbtn:before {
  background: linear-gradient(-45deg, #CEE3F8, #FFFFFF);
  transition: 0.1s ease-out;
}
.mainbtn:hover {
  background: linear-gradient(0deg, #5F99CF, #CEE3F8);
  color: #FFFFFF;
  transition: 0.1s ease-out;
}
.mainbtn:hover:before {
  background: linear-gradient(-45deg, #5F99CF, #CEE3F8);
  transition: 0.1s ease-out;
}
.mainbtn.warning {
  color: #C00000;
  border-color: #C00000;
  transition: 0.2s ease-out;
}
.mainbtn.warning:before {
  border-color: #C00000;
  transition: 0.2s ease-out;
}
.mainbtn.warning:hover {
  background: #C00000;
  color: #FFFFFF;
  transition: 0.2s ease-out;
}
.mainbtn.warning:hover:before {
  background: #C00000;
  transition: 0.2s ease-out;
}
.mainbtn input[type="submit"] {
  background: 0;
  border: 0; outline: 0;
  margin: 0; padding: 2px 0 1px 0;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  font-weight: inherit;
}


/*

The list of settings options on the "preferences" page.

 */
.settings-btns {
  background-color: #F3F3F3;
  margin: 0 0 16px 0; padding: 8px 16px;
}
.settings-btns > p {
  font-weight: bold;
  margin: 0; padding: 8px;
}
.settings-btns .item {
  margin: 0; padding: 8px;
}
.settings-btns .item > span {
  margin-left: 4px;
}
.settings-btns .item.manual {
  display: block;
  margin: 0; padding: 24px 0;
}
.settings-btns .item.manual > label {
  margin: 0; padding: 8px;
  border-right: 1px solid #888;
}
.settings-btns .item.manual > label:last-child {
  border-right: 0;
}
.settings-btns .item.pics-preview {
  font-size: 0; /* remove vertical gap between pics */
}
.settings-btns .item.pics-form input[type="text"] {
  width: 300px;
}
.settings-btns .item.pics-preview > .pic {
  background-color: #CCC;
  display: inline-block;
  margin: 1px; padding: 0;
  min-width: 150px; height: 200px;
  overflow: hidden;
  position: relative;
  vertical-align: middle; /* remove horizontal gap between pics */
}
.settings-btns .item.pics-preview > .pic > img {
  max-width: 300px; height: inherit;
  border: 0;
}
.settings-btns .item.pics-preview > .pic > form > input[type="submit"] {
  cursor: pointer;
  opacity: 0.1;
  position: absolute; top: 10px; right: 10px;
  transition: 0.3s ease-out;
}
.settings-btns .item.pics-preview > .pic:hover > form > input[type="submit"] {
  opacity: 1;
  transition: 0.3s ease-out;
}


/*

Site header.

 */
header {
  background-color: #CEE3F8;
  border-bottom: 1px solid #5F99CF;
  margin: 0; padding: 8px 16px;
  overflow: hidden;
}
.site-logo {
  float: left;
  font-size: 2.5rem; line-height: 2rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.site-logo > a.site-name {
  color: inherit; text-decoration: inherit;
}
.site-links {
  background-color: #FFF;
  float: right;
  font-size: 0.9rem; line-height: 1rem;
  margin: 0.4rem 0; padding: 0.1rem 0.5rem;
}
.site-links > a.username {
}


/*

List of system messages to respond to user input etc. Shown
between "header" and "main" only if there are any messeges.

 */
ul#site-messages {
  background-color: #C00;
  color: #FFF;
  font-size: 1.15rem;
  list-style: none;
  margin: 0; padding: 8px;
}
ul#site-messages li {
  margin: 0; padding: 8px;
}
ul#site-messages li a {
}


/*

Main page content area.
Usualy contains <article/> and <aside id="sidebar"/>.

 */
main {
  overflow: hidden;
}
article {
  margin: 0 300px 0 0; padding: 16px;
}
aside#sidebar {
  float: right;
  width: 300px;
}
aside#sidebar h2 {
  font-size: 1.15rem; line-height: 1em;
}


/*

List of subreddits in the sidebar.

 */
aside#sidebar .sr-list {
}
aside#sidebar .sr-list p {
}
aside#sidebar .sr-list ul {
  list-style: none;
  margin: 0; padding: 0;
}
aside#sidebar .sr-list > li {
  margin: 0; padding: 0;
  margin-bottom: 8px;
}
aside#sidebar .sr-list > li label {
  vertical-align: middle;
}
aside#sidebar .sr-list > li input[type="checkbox"] {
}
aside#sidebar .sr-list > li > a {
}
aside#sidebar .sr-list > li > .status {
  display: inline;
  font-size: 0.9rem;
  color: #999;
}
aside#sidebar .sr-list > li > .status .banned,
aside#sidebar .sr-list > li > .status .muted {
  color: #F33;
  font-weight: bold;
}


/*

Site footer, with copyright stuff, content licence, privacy
statement, terms of service statement, cookie usage statement,
and whatnot statements.

 */
footer {
  background-color: #F3F3F3;
  border-top: 1px solid #888;
  clear: both;
  font-size: 0.9rem;
  margin: 0; padding: 16px;
}


/*

User profile page.

 */
body.profile {
  background-color: #FFF;
}

body.profile .user-profile {
  background-color: #FFF;
  margin: 0; padding: 0;
}
body.profile .user-profile .header {
  display: block;
}
body.profile .user-profile .header h1 {
  display: inline-block;
  font-size: 2.5rem; line-height: 2.5rem;
  margin: 0; padding: 0;
  vertical-align: middle;
}
body.profile .user-profile .header .asl {
  display: inline-block;
  font-size: 1.5rem; line-height: 2.5rem;
  margin: 0; padding: 0 1rem;
  vertical-align: middle;
}
body.profile .user-profile .header .asl span {
  display: inline-block;
  margin: 0; padding: 0 0.25rem;
}
body.profile .user-profile .header .account {
  color: #888;
  display: block;
  font-size: 1rem; line-height: 2.5rem;
  margin: 0; padding: 0;
}
body.profile .user-profile .about {
}
body.profile .user-profile .info-tables {
  background-color: #F3F3F3;
  overflow: hidden;
  margin: 0; padding: 0;
}
body.profile .user-profile .info {
  float: left;
  margin: 0 16px; padding: 0;
}
body.profile .user-profile .info table {
  margin: 16px 0;
  border-spacing: 0;
  border-collapse: collapse;
}
body.profile .user-profile .info table thead tr td {
  text-align: center;
  font-weight: bold;
  padding: 8px;
}
body.profile .user-profile .info table tbody tr {
}
body.profile .user-profile .info table tbody tr td {
  background-color: #FFFFFF;
  padding: 0 8px;
  line-height: 40px;
  border: 1px solid #CCC;
}
body.profile .user-profile ul.pics {
  display: block;
  list-style: none;
  margin: 0; padding: 0;
  overflow: hidden;
  height: 300px;
}
body.profile .user-profile ul.pics li {
  display: block;
  float: left;
  max-width: 225px; height: 150px;
  margin: 1px; padding: 0;
  overflow: hidden;
}
body.profile .user-profile ul.pics li:first-child {
  float: left;
  height: 300px;
  max-width: 450px;
}
body.profile .user-profile ul.pics li .no-pic {
  display: block; width: 175px; height: 150px;
  background-color: #CCC;
}
body.profile .user-profile ul.pics li .pic {
  display: inline-block;
  height: inherit;
}
body.profile .user-profile ul.pics li .pic img {
  border: 0;
  height: inherit;
}

body.profile.is-match {
}


body.profile.is-match .match-box {
  background-color: #F3F3F3;
  margin: 0; padding: 24px 16px;
  overflow: hidden;
}
body.profile.is-match .match-box .like-nope-duno.small {
  float: right;
  background: 0;
  border: 0;
  box-shadow: none;
  margin: 0; padding: 0;
}
body.profile.is-match .match-box .announce {
  font-size: 2.5rem; line-height: 1em;
  font-weight: bold;
  margin: 0; padding: 16px 0 0 0;
  text-align: center;
}
body.profile.is-match .match-box .announce span {
  display: inline-block;
  position: relative;
}
body.profile.is-match .match-box .action {
  padding: 16px;
  clear: both;
  text-align: center;
}
body.profile.is-match .match-box .action .mainbtn {
  padding-top: 10px;
  padding-bottom: 10px;
}
body.profile.is-match .match-box .action .later {
  color: #888;
  display: inline-block;
  padding-top: 16px;
}
body.profile.is-match .match-box .uu {
  text-align: center;
}
body.profile.is-match .match-box .uu > div {
  display: inline-block;
  height: 200px; max-width: 300px;
  overflow: hidden;
}
body.profile.is-match .match-box .uu > div > img {
  height: inherit;
  border: 0;
}
body.profile.is-match .match-box .uu > div.u1 {
  margin-right: 1px;
}
body.profile.is-match .match-box .uu > div.u2 {
  margin-left: 1px;
}



/*

Subreddit specific page.

 */
body.sr ul.sr-user-list {
  font-size: 0;
  list-style: none;
  margin: 0; padding: 0;
}
body.sr ul.sr-user-list > li {
  display: inline-block;
  height: 150px;
  vertical-align: top;
  margin: 1px; padding: 0;
  position: relative;
}
body.sr ul.sr-user-list > li > span.info {
  background-color: #FFFFFF;
  border-radius: 5px 5px 5px 0;
  display: block;
  font-size: 1rem;
  margin: 0; padding: 8px;
  opacity: 0;
  position: absolute; top: 10px; left: calc(50% - 108px);
  transition: 0.3s ease-out;
  width: 200px;
  z-index: 999;
}
body.sr ul.sr-user-list > li:hover > span.info {
  opacity: 1;
  transition: 0.3s ease-out;
}
body.sr ul.sr-user-list > li > span.info > a {
  display: block;
}
body.sr ul.sr-user-list > li > span.info > span.asl {
  display: block;
  color: #888;
}
body.sr ul.sr-user-list > li > a {
}
body.sr ul.sr-user-list > li > a > img {
  border: 0;
  height: 150px;
}


/*

Matches page.

 */
body.matches {
}
body.matches article {
}
body.matches article ul.user-list li form.like-nope-duno {
  box-shadow: none;
  background-color: transparent;
  margin: 0; padding: 0; border: 0;
  transform: scale(0.5);
}
body.matches article ul.user-list li form.like-nope-duno .opt.nope {
}


/*

Home page signup screen for anonymous users.

 */
body.as-overlay main,
body.signup-steps main {
  display: block;
  min-height: 100vh; width: 100%;
  background: #FFFFFF url(/static/reddit2.jpg) center center no-repeat;
  background-size: cover;
}
body.as-overlay article,
body.signup-steps article {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #5F99CF;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  display: block;
  margin: 10vh auto; padding: 0;
  overflow: hidden;
  width: 500px;
}
body.as-overlay article h1,
body.signup-steps article h1 {
  font-size: 2.5rem; line-height: 1rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
body.as-overlay article .overlay,
body.signup-steps article .overlay {
  background-color: #CEE3F8;
  text-align: center;
  margin: 0; padding: 24px;
}
body.as-overlay article .abouts,
body.signup-steps article .abouts {
  display: block;
  font-size: 1rem;
  margin: 0; padding: 0 16px;
}


/*

After signup steps to input basic account info.

 */
body.signup-steps {
}
body.signup-steps.step-1 {  /* Signup with reddit */
}
body.signup-steps.step-1 div.show-signup-steps {
  display: none;
}
body.signup-steps.step-2 {  /* Update Subreddits */
}
body.signup-steps.step-3 {  /* Update geolocation */
}
body.signup-steps.step-4 {  /* Set age and gender */
}
body.signup-steps.step-5 {  /* Link some photos */
}
body.signup-steps .show-signup-steps {
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  text-align: center;
}
body.signup-steps .show-signup-steps > div {
  color: #888;
  display: inline-block;
  margin: 0; padding: 16px 0;
}
body.signup-steps .show-signup-steps > div:not(:first-child):before {
  color: #888;
  content: '⮕';
  margin: 0; padding: 16px;
}
body.signup-steps.step-1 .show-signup-steps > div.step-1,
body.signup-steps.step-2 .show-signup-steps > div.step-2,
body.signup-steps.step-3 .show-signup-steps > div.step-3,
body.signup-steps.step-4 .show-signup-steps > div.step-4,
body.signup-steps.step-5 .show-signup-steps > div.step-5,
body.signup-steps.step-6 .show-signup-steps > div.step-6 {
  color: #000; font-weight: bold;
}
body.signup-steps article .overlay {
}
body.signup-steps article .overlay form > div {
  margin: 16px 0;
}
body.signup-steps.step-4 article .overlay textarea {
  width: 100%; height: 90px;
}
body.signup-steps.step-5 article .overlay input[type="text"] {
  width: 200px;
}
body.signup-steps article div.abouts {
}
