body {
  margin: 0; padding: 0;
  font: normal 16px/16px serif;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.35em;
}
form, button {
  display: inline;
  margin: 0
}
input[type="text"], input[type="date"], input[type="submit"], select {
  margin: 4px;
}
label {
  cursor: pointer;
}
.help {
  font-size: 0.9rem;
  color: #888;
}
.nsfw-tag, .subscr-tag, .contrib-tag, .mod-tag, .banned-tag, .muted-tag {
  opacity: 0.5;
  background-color: blue;
  font-family: sans-serif;
  font-size: 0.65rem; line-height: 1rem;
  color: #FFF;
  margin: 0; padding: 0 0.5rem;
  border-radius: 0.4rem;
}
.subscr-tag {
  background-color: green;
}
.banned-tag {
  background-color: black;
}

header {
  background-color: #CEE3F8;
  border-bottom: 1px solid #5F99CF;
  margin: 0; padding: 8px 16px;
  overflow: hidden;
}
.site-logo {
  float: left;
  font-size: 2rem; line-height: 2rem;
}
.site-logo > a.site-name {
  color: inherit; text-decoration: inherit;
}
.site-links {
  background-color: #FFF;
  float: right;
  font-size: 0.9rem; line-height: 1rem;
  margin: 0.4rem 0; padding: 0.1rem 0.5rem;
}
.site-links > a.username {
}

ul#site-messages {
  background-color: #C00;
  color: #FFF;
  font-size: 1.15rem;
  list-style: none;
  margin: 0; padding: 8px;
}
ul#site-messages li {
  margin: 0; padding: 8px;
}
ul#site-messages li a {
}

main {
  overflow: hidden;
}

article {
  margin: 0 300px 0 0; padding: 16px;
}
.settings-btns {
  background-color: #F3F3F3;
  margin: 0 0 16px 0; padding: 8px 16px;
}
.settings-btns > p {
  font-weight: bold;
  margin: 0; padding: 8px;
}
.settings-btns .item {
  margin: 0; padding: 8px;
}
.settings-btns .item > span {
  margin-left: 4px;
}
.settings-btns .item.manual {
  display: block;
  margin: 0; padding: 24px 0;
}
.settings-btns .item.manual > label {
  margin: 0; padding: 8px;
  border-right: 1px solid #888;
}
.settings-btns .item.manual > label:last-child {
  border-right: 0;
}
.settings-btns .item.pics-preview {
  font-size: 0; /* remove vertical gap between pics */
}
.settings-btns .item.pics-form input[type="text"] {
  width: 300px;
}
.settings-btns .item.pics-preview > .pic {
  background-color: #CCC;
  display: inline-block;
  margin: 1px; padding: 0;
  min-width: 150px; height: 200px;
  overflow: hidden;
  position: relative;
  vertical-align: middle; /* remove horizontal gap between pics */
}
.settings-btns .item.pics-preview > .pic > img {
  max-width: 300px; height: inherit;
  border: 0;
}
.settings-btns .item.pics-preview > .pic > form > input[type="submit"] {
  cursor: pointer;
  opacity: 0.1;
  position: absolute; top: 10px; right: 10px;
  transition: 0.3s ease-out;
}
.settings-btns .item.pics-preview > .pic:hover > form > input[type="submit"] {
  opacity: 1;
  transition: 0.3s ease-out;
}

aside#sidebar {
  float: right;
  width: 300px;
}
aside#sidebar h2 {
  font-size: 1.15rem; line-height: 1em;
}
aside#sidebar .sr-list {
}
aside#sidebar .sr-list p {
}
aside#sidebar .sr-list ul {
  list-style: none;
  margin: 0; padding: 0;
}
aside#sidebar .sr-list > li {
  margin: 0; padding: 0;
  margin-bottom: 8px;
}
aside#sidebar .sr-list > li label {
  vertical-align: middle;
}
aside#sidebar .sr-list > li input[type="checkbox"] {
}
aside#sidebar .sr-list > li > a {
}
aside#sidebar .sr-list > li > .status {
  display: inline;
  font-size: 0.9rem;
  color: #999;
}
aside#sidebar .sr-list > li > .status .banned,
aside#sidebar .sr-list > li > .status .muted {
  color: #F33;
  font-weight: bold;
}

footer {
  background-color: #F3F3F3;
  border-top: 1px solid #888;
  clear: both;
  font-size: 0.9rem;
  margin: 0; padding: 16px;
}



body.profile {
  background-color: #FFF;
}
body.profile ul.user-list {
  background-color: #FFF;
  font-size: 0;
  list-style: none;
  margin: 0; padding: 2px 0;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
body.profile ul.user-list li {
  display: inline-block;
  font-size: 0;
  height: 100px;
  margin: 0; padding: 0; border: 2px solid transparent;
  position: relative;
  vertical-align: middle;
}
body.profile ul.user-list li.curr {
  border-color: #F00;
}
body.profile ul.user-list li .info {
  opacity: 0;
  background-color: #FFF;
  border-radius: 0 5px 5px 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  color: #111;
  font-size: 1rem;
  margin: 0; padding: 4px;
  position: absolute; top: 20px; left: 20px;
  transition: 0.3s ease-out;
  z-index: 999;
}
body.profile ul.user-list li:hover .info {
  opacity: 1;
  transition: 0.3s ease-out;
}
body.profile ul.user-list li a {
  display: block;
  height: inherit;
  max-width: 150px;
  overflow: hidden;
  position: relative;
}
body.profile ul.user-list li:first-child a {
}
body.profile ul.user-list li:last-child a {
}
body.profile ul.user-list li a.pic img {
  border: 0;
  height: inherit;
}
body.profile ul.user-list li a.nopic {
  width: 100px;
}

body.profile .user-profile {
  background-color: #FFF;
  margin: 0; padding: 0;
}
body.profile .user-profile .header {
  display: block;
}
body.profile .user-profile .header .zodiacs {
  float: right;
}
body.profile .user-profile .header .zodiacs span {
  display: inline-block;
  width: 3rem; height: 3rem;
  font-size: 2rem; line-height: 3rem;
  background-color: #F00; color: #FFF;
  text-align: center;
  border-radius: 5px;
  margin: 4px; padding: 0;
  vertical-align: middle;
}
body.profile .user-profile .header h1 {
  display: inline-block;
  font-size: 2.5rem; line-height: 2.5rem;
  margin: 0; padding: 0;
  vertical-align: middle;
}
body.profile .user-profile .header .asl {
  display: inline-block;
  font-size: 1.5rem; line-height: 2.5rem;
  margin: 0; padding: 0 1rem;
  vertical-align: middle;
}
body.profile .user-profile .header .asl span {
  display: inline-block;
  margin: 0; padding: 0 0.25rem;
}
body.profile .user-profile .header .account {
  color: #888;
  display: block;
  font-size: 1rem; line-height: 2.5rem;
  margin: 0; padding: 0;
}
body.profile .user-profile .pic-about {
}
body.profile .user-profile .pic-about a.pic {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  display: block;
  float: right;
  margin: 0 0 8px 16px;
}
body.profile .user-profile .pic-about .pic img {
  vertical-align: middle;
  margin: 0; padding: 0; border: 0;
}
body.profile .user-profile .pic-about .about {
  /* display: block;
  border: 1px solid #CCC;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3); */
}
body.profile .user-profile .info {
}
body.profile .user-profile .info table {
  margin: 16px 0;
  border-spacing: 0;
  border-collapse: collapse;
}
body.profile .user-profile .info table thead tr td {
  text-align: center;
  font-weight: bold;
  padding: 8px;
}
body.profile .user-profile .info table tbody tr {
}
body.profile .user-profile .info table tbody tr td {
  padding: 8px;
  border: 1px solid #CCC;
}
body.profile .user-profile ul.pics {
  list-style: none;
  margin: 0; padding: 0;
}
body.profile .user-profile ul.pics li {
  display: inline-block;
  margin: 0; padding: 0;
}
body.profile .user-profile ul.pics li a {
  display: inline-block;
  height: 150px;
  max-width: 300px;
}
body.profile .user-profile ul.pics li a img {
  border: 0;
  height: inherit;
}
body.profile .user-profile hr {
  clear: both;
}