
/*

Standard content card, simplefied Material-style.

 */
.card {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  margin: 16px 0; padding: 16px;
}
.card > a:first-child {
  background-color: gray;
  color: white;
  float: right;
  font-size: 1.5rem; line-height: 1.5rem;
  margin: -16px -16px 0 0; padding: 1rem;
  opacity: 0.2;
}
.card > h2:first-of-type {
  font-size: 1.5rem; line-height: 3.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  font-weight: bold;
  margin: -16px -16px 16px -16px; padding: 0;
  text-align: center;
}
.card > p.subhead {
  background-color: #F3F3F3;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.56);
  margin: -16px -16px 16px -16px; padding: 16px;
  text-align: center;
}
.card.nopadd > p.subhead {
  margin: 0; padding: 16px;
}
.card > section {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin: -16px -16px 0 -16px; padding: 16px 32px;
}
.card section.nopadd {
  padding: 0;
}
.card.nopadd {
  padding: 0;
}
.card.nopadd > a:first-child {
  margin: 0; padding: 1rem;
}
.card.nopadd > h2:first-of-type {
  margin: 0; padding: 0;
}
.card.nopadd > .subhead {
  margin: 0; padding: 16px;
}
.card.nopadd section {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin: 0; padding: 16px 32px;
}
.card.nopadd section:last-of-type {
  border-bottom: 0;
}
.card.nopadd section.nopadd {
  margin: 0; padding: 0;
}
.card.nopadd section.nopadd.foot p {
  background-color: #F3F3F3;
  color: gray;
  margin: 0; padding: 16px;
  text-align: left;
}


body .subheader {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  margin: 0; padding: 22px 16px 24px 16px;
  text-align: left;
}
body .subheader > .reddit-link {
  display: inline-block;
  font-size: 1.5rem; line-height: 1.5rem;
  font-weight: normal;
  margin: 0; padding: 0 16px;
  vertical-align: middle;
}
body .subheader > .reddit-link > .fa {
  font-size: 1.5rem;
  margin-right: 4px;
  opacity: 0.2;
}
body .subheader > .info {
  font-size: 1rem; line-height: 1.5rem;
  vertical-align: middle;
}

body.sr article,
body.results article {
  text-align: center;
}
body.results .subheader .info span {
  border-bottom: 1px dotted gray;
}


/*

The list of settings options on the "preferences" page.

 */
body.me .card.section-profile,
body.me .card.section-geolocation,
body.me .card.section-srlist {
  text-align: center;
}

body.me .card.section-profile section:not(:last-of-type),
body.me .card.section-srlist section:first-of-type {
  padding: 32px;
}
body.me .card.section-profile .key-col {
  display: block;
  margin: 0 0 16px 0; padding: 0;
  text-align: center;
  font-size: 1rem; line-height: 1em;
  font-weight: normal;
}
body.me .card.section-profile .val-col {
  display: block;
  margin: 0; padding: 0;
  line-height: 3rem;
}
body.me .card.section-profile .val-col .help {
  margin: 8px 0 0 0; padding: 0;
}

body.me .section-profile .herefor .val-col {
  display: inline-block;
}
body.me .section-profile .herefor .val-col .item {
  border: 1px solid rgba(0,0,0,0.12);
  border-collapse: collapse;
  color: white;
  display: inline-block;
  margin: 0; padding: 24px;
  position: relative;
}
body.me .section-profile .herefor .val-col .item input {
  display: none;
}
body.me .section-profile .herefor .val-col .item .tx {
  border: 2px solid transparent;
  color: rgba(255,255,255,0.58);
  display: block;
  font-size: 1rem; line-height: 1em;
  margin: 0; padding: 7px;
}
body.me .section-profile .herefor .val-col .item input:checked + .tx {
  border-color: white;
  color: rgba(255,255,255,1);
}
body.me .section-profile .herefor .val-col .item:nth-child(1) { background-color: #FF0000; }
body.me .section-profile .herefor .val-col .item:nth-child(2) { background-color: #bd0042; }
body.me .section-profile .herefor .val-col .item:nth-child(3) { background-color: #94006d; }
body.me .section-profile .herefor .val-col .item:nth-child(4) { background-color: #65009d; }
body.me .section-profile .herefor .val-col .item:nth-child(5) { background-color: #0000FF; }

body.me .card.section-geolocation .help {
  margin: 16px 0 0 0; padding: 8px;
  background-color: #F9F9F9;
  text-align: left;
}



body.me .card.section-about textarea {
  width: 400px; height: 100px;
  resize: both;
}
body.me .card.section-pics .item.pics-form input[type="text"] {
  width: 300px;
}
body.me .card.section-pics .item.pics-preview {
  font-size: 0;
  margin: 8px -8px 0 -8px;
}
body.me .card.section-pics .item.pics-preview > .pic {
  display: inline-block;
  margin: 8px; padding: 0;
  position: relative;
  vertical-align: middle;
}
body.me .card.section-pics .item.pics-preview > .pic img {
  background-color: #F3F3F3;
  max-width: 500px; height: 200px;
  border: 8px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
}
body.me .card.section-pics .item.pics-preview > .pic input[type="submit"] {
  cursor: pointer;
  font-size: 1rem; line-height: 1em;
  opacity: 0.1;
  position: absolute; top: 10px; right: 10px;
  transition: 0.3s ease-out;
}
body.me .card.section-pics .item.pics-preview > .pic:hover input[type="submit"] {
  opacity: 1;
  transition: 0.3s ease-out;
}



/*

Site header.

 */
header {
  background-color: rgba(0,82,128,1);
  /*
  background-color: rgba(0,82,128,0.56);
  #005280;
  #003B6F; reddit default color: #CEE3F8;
  border-bottom: 1px solid #5F99CF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  */
  height: 64px;
  margin: 0; padding: 0;
  position: relative;
  white-space: nowrap;
}
header .site-logo {
  color: white;
  margin: 0; padding: 0;
  position: absolute; top: 0; left: 0;
}
header .site-logo > a.site-icon > img {
  border: 0;
  height: 48px;
  margin: 0; padding: 8px 16px;
  vertical-align: middle;
}
header .site-logo > a.site-name {
  color: inherit; text-decoration: inherit;
  font-size: 1.5rem; line-height: 64px;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
  vertical-align: middle;
}
header .site-links {
  font-size: 1rem; line-height: 56px;
  margin: 0; padding: 0;
  position: absolute; top: 0; right: 0;
}
header .site-links .dotmenu {
  position: absolute; top: 0; right: 0;
  /*
  border-left: 1px solid rgba(255,255,255,0.28);
  */
  display: inline-block;
  color: white;
  padding-top: 14px;
  width: 64px; height: 50px;
}
header .site-links .item {
  background-color: rgba(255,255,255,0);
  /*
  border-left: 1px solid rgba(255,255,255,0.28);
  */
  color: white;
  display: inline-block;
  margin: 0; padding: 4px 16px;
  position: relative;
  text-align: center;
  transition: 0.1s ease-out;
}
header .site-links .item.settings:last-of-type {
  margin-right: 64px;
}
header .site-links .item:hover {
  background-color: rgba(255,255,255,0.28);
  transition: 0.1s ease-out;
}
header .site-links .item .number {
  background-color: rgab(0,0,0,0.56);
  border-radius: 50%;
  color: white;
  display: block;
  font-size: 1rem; line-height: 1.5rem;
  min-width: 1.5rem; height: 1.5rem;
  position: absolute; top: 0; right: 0;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
header .site-links .item .icon, .site-links .sep {
  display: none;
}


/*

List of system messages to respond to user input etc. Shown
between "header" and "main" only if there are any messeges.

 */
ul#site-messages {
  background-color: rgba(0,0,0,0.8);
  clear: both;
  color: white;
  display: block;
  font-size: 1.15rem;
  list-style: none;
  cursor: pointer;
  min-height: 33vh;
  margin: 0; padding: 8px;
  opacity: 1;
  position: fixed; bottom: 0; right: 0; left: 0;
  z-index: 999;
}
ul#site-messages li {
  margin: 0; padding: 8px;
}
ul#site-messages li a {
}


/*

Main page content area.
Usualy contains <article/> and sometimes <aside id="sidebar"/>.

*/
body main {
  clear: both;
  overflow: hidden;
  min-height: 80vh;
}
body article {
  display: block;
  max-width: 1000px;
  margin: 0 auto; padding: 0;
}
body.has-sidebar article {
  margin: 0 300px 0 0;
}
body.has-sidebar aside#sidebar {
  display: block;
  float: right;
  width: 300px;
  padding-top: 16px;
}


/*

Site footer, with copyright stuff, content licence, privacy
statement, terms of service statement, cookie usage statement,
and whatnot statements.

 */
footer {
  background-color: rgba(0,0,0,0.56);
  clear: both;
  color: silver;
  font-size: 0.9rem;
  margin: 0; padding: 16px;
}
footer a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
}





/*

User profile page.

 */
body.profile {
  /* background-color: rgba(0,82,128,56); */
  background-color: rgba(0,82,128,1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url(https://i.imgur.com/tvSIooM.jpg); */
}


body.profile header {
}
body.profile .card.headcard {
  padding: 0;
  position: relative;
  height: 280px;
}
body.profile .headcard .intro {
  background-color: transparent;
  display: block;
  margin: 0; padding: 16px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 440px;
  text-align: left;
}
body.profile .headcard .intro .top {
  font-size: 15px; line-height: 16px;
  margin: 0; padding: 0;
}
body.profile .headcard .intro .top a {
  background-color: #F3F3F3;
  border: 1px dotted gray;
  color: black;
  font-weight: normal;
  display: inline-block;
  margin: 0 4px 16px 0; padding: 8px 4px;
}
body.profile .headcard .intro .top a:hover {
  text-decoration: underline;
}
body.profile .headcard .intro .textline {
  font-size: 24px; line-height: 28px;
}
body.profile .headcard .intro .textline a {
  color: inherit;
  border-bottom: 1px dotted gray;
}
body.profile .headcard .intro .textline .username {
  border-bottom: 0;
  font-weight: bold;
}
body.profile .headcard .intro .meta {
  position: absolute;
  right: 0; bottom: 0; left: 0;
  color: gray;
  padding: 16px;
}

body.profile .card.headcard .dotmenu {
  position: absolute; top: 0; right: 0;
  margin: 0; padding: 8px;
  background-color: rgba(255,255,255,0.75);
  border-radius: 0;
  z-index: 1;
}

body.profile .upvote-hide {
  display: block;
  position: absolute; top: 0; left: 0;
  width: 84px;
  margin: 32px 20px 0 22px; padding: 24px 16px;
  border: 1px solid gray;
  border-radius: 58px;
}
body.profile .upvote-hide .upvote {
  display: block;
}
body.profile .upvote-hide .upvote input[type="submit"] {
  opacity: 0.75;
  background:url(/static/up-arrows-2.gif) center center no-repeat;
  width: 84px; height: 76px;
  border: 0; outline: 0;
  margin: 0; padding: 0;
}
body.profile .upvote-hide .upvote input[type="submit"]:hover {
  opacity: 1;
}
body.profile.is-like .upvote-hide .upvote {
}
body.profile.is-match .upvote-hide .upvote input[type="submit"],
body.profile.is-like .upvote-hide .upvote input[type="submit"] {
  opacity: 1;
}

body.profile .upvote-hide .middot {
  width: 84px;
  margin: 0; margin-top: 16px; padding: 0;
  font-size: 32px; line-height: 32px;
  text-align: center;
  color: gray;
  font-weight: bold;
}
body.profile .upvote-hide .hide {
  display: block;
}
body.profile .upvote-hide .hide input[type="submit"] {
  opacity: 0.75;
  background: transparent;
  border: 0; outline: 0;
  color: gray;
  font-size: 0.9rem;
  font-weight: bold;
  width: 84px;
  margin: 16px 0 0 0; padding: 0;
}
body.profile .upvote-hide .hide input[type="submit"]:hover {
  opacity: 1;
}

body.profile .pics {
  position: absolute;
  top: 0; bottom: 0; left: 160px;
  width: 280px; height: 280px;
  overflow: hidden;
  transition: 0.3s ease-out;
}
body.profile .pics:hover {
  width: 840px;
  transition: 0.3s ease-out;
}
body.profile .pics ul {
  display: block;
  list-style: none;
  margin: 0; padding: 0;
  width: 840px; height: inherit;
}
body.profile .pics ul li {
  display: block;
  float: left;
  width: 140px; height: 140px;
  margin: 0; padding: 0;
  overflow: hidden;
}
body.profile .pics ul li:first-child {
  float: left;
  margin: 0; padding: 0;
  width: 280px; height: 280px;
}
body.profile .pics ul li .pic {
  border: 0;
  display: inline-block;
  width: inherit; height: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

body.profile .about {
  margin: 0; padding: 16px;
}
body.profile .links-to-reddit-profile {
  display: block;
  list-style: none;
  text-align: center;
  margin: 0; padding: 0;
}
body.profile .links-to-reddit-profile li {
  display: inline-block;
  margin: 0; padding: 16px;
}
body.profile .info-tables {
  overflow: hidden;
  margin: 0; padding: 0 8px;
}
body.profile .info {
  float: left;
  margin: 8px; padding: 0;
}
body.profile .info table {
  margin: 16px 0;
  border-spacing: 0;
  border-collapse: collapse;
}
body.profile .info table thead tr td {
  text-align: center;
  font-weight: bold;
  padding: 8px;
}
body.profile .info table tbody tr td {
  background-color: #FFFFFF;
  padding: 0 8px;
  line-height: 40px;
  border: 1px solid #CCC;
}

body.profile .fullpics {}

body.profile .fullpics > span {
  background-color: black;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 200px; height: 200px;
}
body.profile .fullpics > span > a,
body.profile .fullpics > span > span {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  overflow: hidden;
  width: inherit; height: inherit;
}



/*

when it was a match

*/

body.profile .announce.match {
  background-color: rgba(255,255,255,0.36);
  margin: 0; padding: 16px;
  overflow: hidden;
  text-align: center;
}
body.profile .announce.match h1 {
  font-size: 2.5rem; line-height: 1em;
  font-weight: bold;
  letter-spacing: 6px;
  display: block;
  color: white;
  text-shadow: 2px 2px 1px black;
}
body.profile .announce.match .action {
  padding: 16px;
  clear: both;
  text-align: center;
}
body.profile .announce.match .action .mainbtn {
  padding-top: 10px;
}
body.profile .announce.match .action .later {
  border: 1px solid white;
  color: white;
  display: inline-block;
  font-size: 1rem; line-height: 1em;
  font-weight: normal;
  margin: 24px 0 0 0; padding: 8px 16px;
  opacity: 0.56;
  transition: 0.2s ease-out;
}
body.profile .announce.match .action .later:hover {
  opacity: 1;
  transition: 0.2s ease-out;
}
body.profile .announce.match .uu {
  display: block;
  text-align: center;
}
body.profile .announce.match .uu > div {
  display: inline-block;
  font-size: 1rem; line-height: 1em;
  vertical-align: middle;
}
body.profile .announce.match .uu > div > span.username {
  color: white;
  display: block;
  opacity: 0.56;
  margin: 4px 0 0 0;
}
body.profile .announce.match .uu > div > img {
  border: 10px solid #FFFFFF;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.56);
  display: block;
  height: 200px; max-width: 500px;
  margin: 0; padding: 0;
}
body.profile .announce.match .uu > div.u1 {
  margin-right: 16px;
}
body.profile .announce.match .uu > div.u2 {
  margin-left: 16px;
}

/*

when auth user liked view user, but there is no like back (yet)

*/

body.profile .announce.like {
  background-color: red;
  color: white;
  display: inline-block;
  margin: 0; padding: 8px 16px;
  position: absolute; top: 2px; left: -20px;
  transform: rotate(-25deg);
}

body.profile .announce.nope {
  background-color: gray;
  color: white;
  display: block;
  margin: 0; padding: 16px 0;
  text-align: center;
}
body.profile .announce.nope form {
  display: inline-block;
}
body.profile .announce.nope form input[type="submit"] {
  background: 0;
  border: 1px solid white;
  display: inline-block;
  outline: 0;
  margin: 0 0 0 16px; padding: 4px 8px;
}

body.profile .announce.herefor span {
  color: white;
  display: block;
  margin: 16px 0 -16px 0; padding: 16px 32px;
  text-align: center;
}


body.profile .prevnext-arrows {
}
body.profile .prevnext-arrows > a {
  background-color: rgba(0,82,128,1);
  box-shadow: 0 0 3px black;
  color: white;
  display: block; width: 56px; height: 56px;
  font-size: 40px; line-height: 56px;
  position: fixed; top: calc(50vh - 28px);
  text-align: center;
}
body.profile .prevnext-arrows > a.prev {
  border-radius: 0 28px 28px 0;
  left: 0;
}
body.profile .prevnext-arrows > a.next {
  border-radius: 28px 0 0 28px;
  right: 0;
}


/*

Home page signup screen for anonymous users.

 */
body.as-overlay main,
body.signup-steps main {
  display: block;
  min-height: 100vh; width: 100%;
  background: #FFFFFF url(/static/reddit2.jpg) center center no-repeat;
  background-size: cover;
}
body.as-overlay article,
body.signup-steps article {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #5F99CF;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  display: block;
  margin: 10vh auto; padding: 0;
  overflow: hidden;
  width: 500px;
}
body.as-overlay article h1,
body.signup-steps article h1 {
  font-size: 2.5rem; line-height: 1rem;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
body.as-overlay article h1 a,
body.signup-steps article h1 a {
  color: inherit; text-decoration: inherit;
}
body.as-overlay article .overlay,
body.signup-steps article .overlay {
  background-color: #CEE3F8;
  text-align: center;
  margin: 0; padding: 24px;
}
body.as-overlay article .abouts,
body.signup-steps article .abouts {
  display: block;
  font-size: 1rem;
  margin: 0; padding: 0 16px;
}


/*

After signup steps to input basic account info.

 */
body.signup-steps {
}
body.signup-steps.step-1 {  /* Signup with reddit */
}
body.signup-steps.step-1 div.show-signup-steps {
  display: none;
}
body.signup-steps.step-2 {  /* Update Subreddits */
}
body.signup-steps.step-3 {  /* Update geolocation */
}
body.signup-steps.step-4 {  /* Set age and gender */
}
body.signup-steps.step-5 {  /* Link some photos */
}
body.signup-steps .show-signup-steps {
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  text-align: center;
}
body.signup-steps .show-signup-steps > span {
  color: gray;
  display: inline-block;
  margin: 0; padding: 8px;
}
body.signup-steps .show-signup-steps > div {
  color: gray;
  display: inline-block;
  margin: 0; padding: 16px 0;
}
body.signup-steps.step-1 .show-signup-steps > div.step-1,
body.signup-steps.step-2 .show-signup-steps > div.step-2,
body.signup-steps.step-3 .show-signup-steps > div.step-3,
body.signup-steps.step-4 .show-signup-steps > div.step-4,
body.signup-steps.step-5 .show-signup-steps > div.step-5,
body.signup-steps.step-6 .show-signup-steps > div.step-6 {
  color: #000; font-weight: bold;
}
body.signup-steps article .overlay {
}
body.signup-steps article .overlay form > div {
  margin: 16px 0;
}
body.signup-steps.step-4 article .overlay textarea {
  width: 100%; height: 90px;
}
body.signup-steps.step-5 article .overlay input[type="text"] {
  width: 200px;
}
body.signup-steps article div.abouts {
}



body.reports .navlinks {
  text-align: center;
  padding: 16px;
}
body.reports .navlinks a,
body.reports .navlinks span {
  margin: 0; padding: 8px 16px;
  vertical-align: middle;
}
body.reports .navlinks a {
  font-size: 1rem; line-height: 1.25rem;
}
body.reports .navlinks span {
  font-size: 1.25rem; line-height: 1.25rem;
}
body.reports .report.card {
  position: relative;
}
body.reports .report.card .receiver {
  font-size: 1.25rem;
}
body.reports .report.card .receiver form {
  display: block; float: right;
  margin: 0; padding: 0;
  opacity: 0.5;
}
body.reports .report.card .receiver form:hover {
  opacity: 1;
}
body.reports .report.card .receiver form input[type="submit"] {
  font-size: 0.8rem; line-height: 0.8rem;
  margin: 0; padding: 2px;
  vertical-align: top;
}
body.reports .report.card .receiver .reason {
  font-weight: bold;
}
body.reports .report.card .receiver .counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.28);
  display: inline-block;
  font-size: 20px; line-height: 20px;
  font-weight: bold;
  margin: 0; padding: 16px;
  position: absolute; top: -8px; left: -44px;
  text-align: center;
  width: 20px; height: 20px;
}
body.reports .report.card .details {
  border-top: 1px solid rgba(0,0,0,0.12);
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin: 16px 0; padding: 16px;
  color: gray;
}
body.reports .report.card .sender {
}


/*

User list vertical (one per line): for matches, nopes, etc.

*/
ul.user-list-vert {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0; padding: 0;
}
ul.user-list-vert li {
  border-bottom: 1px solid rgba(0,0,0,0.12);
  display: block;
  margin: 0; padding: 8px;
  overflow: hidden;
}
ul.user-list-vert li a.pic {
  display: block;
  float: left;
  margin: 0 16px 0 0; padding: 0;
  text-align: right;
  width: 300px; height: 150px;
}
ul.user-list-vert li a.pic img {
  border: 0;
  min-width: 100px; max-width: 250px; height: 150px;
  overflow: hidden;
}
ul.user-list-vert li span.info {
  display: block;
  font-size: 1rem; line-height: 1.5em;
  margin: 0; padding: 0 8px;
}
ul.user-list-vert li span.info a.username {
  display: block;
  font-size: 2rem; line-height: 2rem;
  margin: 0; padding: 0; padding-bottom: 0.25rem
}
ul.user-list-vert li span.info span.asl {
  display: block;
  font-size: 1rem; line-height: 2rem;
}
ul.user-list-vert li span.info span.asl.short {
  display: none;
}
ul.user-list-vert li .matched {
  color: gray;
  margin: 16px 0 0 0;
}
ul.user-list-vert li .mainbtn {
  margin: 8px 0 0 316px;
}
